
.background-lighten {
        background-image: url('../../../assets/images/Alert-01.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
        background-size: 150px;
        background-position: center center;
    }


