mat-button-toggle {
  text-align-last: center;
   margin-bottom: -5%;
   margin-top: -5%
 }
 
 /* mat-card {
   width: 120%;
 } */
 .mat-button-toggle-checked {
   color: white; 
 }

 .mat-slide-toggle-content {
  margin-top:3.5%;
  width: 25%;
}

 ::ng-deep mat-button-toggle.drop-down-button {
   margin-left: 1px;
 }
  .icon  {
   margin-bottom: 10px;
   height: 30px;
   width: 30px;
 } 

 .web-service-error{
  font-size: 14px;
 }
 

 .webservice-border{
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius:5px ;
  padding: 4px;
 }

 .api-border{
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius:5px ;
  padding: 4px;
  width: 80%;
 }

 .callworkflow-border{
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius:5px ;
  height: 30px;
 }

 .add{
  height: 30px;
  width: 30px;
  /* margin-top: 18px; */
 }

 .addbutton{
  height: 30px;
  width: 160px;
  /* margin-top: 18px; */
 }

 .radio{
  height: 30px;
  width: 30px;
  margin-top: 25px;
 }
 
 .mat-datepicker-toggle {
  margin-top: -9.95%;
color: rgb(138, 134, 134);
width: 35px;
 }
 .mat-icon{
     font-size: 16px;;
 }
 .legacy {
   /* border-radius: 25px; */
   /* border: solid rgb(221, 218, 218); */
   border: 1px groove rgb(252, 252, 252);
   /* border: 1px solid transparent; */
   margin-top: 2%;
   padding: 3px;
   height: 5%;
   display: inline-block;
 }
 .alert-warning {
   color: black;
   background-color: whitesmoke;
   border-color:white;
 }
 
 .alert {
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   border-radius: 4px;
 }
 table {
  border-collapse: collapse;
  border: 1px solid rgba(88, 88, 88, 0.178);
 }
 td, th {
  height: 10px;
  padding: 5px;
  text-align: left;
  border: 1px solid rgba(88, 88, 88, 0.178);
 }
 /* th {
  border: 50px;
  border: 1px solid black;
 } */

 .mat-mini-fab {
  height: 25px!important;
  width: 25px!important;
  line-height: 16px!important;
  padding:1px!important;
}

.mat-icon{
    font-size: 16px;;
}

.button-css{
  line-height: 26px;
  padding: 0px 4px;
  color: white;
  background-color: #48b0f7;
}



/* #titlerow */
 ::ng-deep #titlerow .mat-form-field-flex > .mat-form-field-infix {
  padding: 12px 5px 7px 5px !important;
  border: 5px !important;
}
 

  ::ng-deep #titlerow
  .mat-form-field-flex
  > .mat-form-field-infix
  .mat-form-field-appearance-outline
  .mat-form-field-suffix {
  top: 0.45em;
}
 
 ::ng-deep #titlerow .mat-form-field-appearance-outline .mat-form-field-label {
  margin-top: 4px;
}
 
::ng-deep #titlerow  .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
  top: -17px;
}
/* ::ng-deep #titlerow .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #fff;
} */
 
/* focused color */
/* ::ng-deep #titlerow .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #fff;
} */
 
/* floating label color */
/* ::ng-deep #titlerow .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #fff;
} */
/****************=place holder************/
/* ::ng-deep #titlerow .mat-form-field-empty.mat-form-field-label {
  color: white;
} */

::ng-deep #titlerow .mat-form-field-wrapper{
padding-bottom: 1em!important;
}
/* ::ng-deep #titlerow input.mat-input-element {
  color: white;
} */

.f_12 {
  font-size: 12px !important;
  margin-bottom: 0px !important;
  margin-top: 5px;
}

.border-css {
  border: none;
}

button.mat-menu-item {
  width: 100%;
  padding-top: 0px !important;
  height: 35px !important;
  line-height: 35px !important;
}

.f_20 {
  font-size: 20px !important;
  margin-bottom: 7px;
}

.f_21 {
  font-size: 20px !important;
  margin-top: 3px;
}

#icon-button {
  border-radius: 0;
  color: rgb(0, 128, 0);
  background-color: #98fc98;
  text-align: center;
}

.hr_style {
  width: 45%;
  height: 0.5px;
  margin-top: 10px;
  display: inline-block;
}

.hr_style_pagefield {
  width: 66%;
  height: 0.5px;
  margin-top: 10px;
  display: inline-block;
}

::ng-deep .column-menu {
  width: 350px !important;
  
}

::ng-deep .column-menu-map {
  width: 170px !important;
  
}


.date-picker {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  padding: 4px;
}
::ng-deep .mat-select-panel::-webkit-scrollbar {
  -webkit-appearance: none;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:vertical {
  width: 10px;
  height: 30px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:horizontal {
  height: 18px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
  box-pack: center;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:vertical:hover {
  width: 13px;
  height: 80vh !important;

}
::ng-deep .mat-select-panel::-webkit-scrollbar:horizontal:hover {
  max-height: 80vh !important;
}
::-webkit-scrollbar-thumb{
  height: 40px;
}
.circle-css {
  position: absolute;
  font-size: 16px;
  margin-left: 18px;
  margin-top: -18px;
  z-index: 9999;
}
.flag-container-css {
  width: 30px;
  height: 30px;
  border: 2px dashed grey;
  border-radius: 50%;
  line-height: 30px;
  position: relative;
  cursor: pointer;
  margin-top: 1px;
  margin-left: 10px;
  color: grey;
}
.flag-css {
  margin-left: 5px;
  margin-top: 4px;
  font-size: 15px;
  color: lightgray;
}

.border-style-css{
  border: 1px solid var(--theme-main-color);
}










