@media only screen and (max-width: 600px) {
    .mobile-css{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
    place-content: center space-between;
    align-items: center;
    }
}

@media only screen and (min-width: 600px) {
    .mobile-css{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
    place-content: center space-between;
    align-items: center;
    }
}