<ng-container *ngIf="showControl" [formGroup]="group">
    <div [style]="field.style" style="width:100%">
        <div class="table-container scrollbar-css" [style.background-color]="field.rowBackground">
            <div fxLayout="row">
                <table [style.border]="getBorderStyle(table.borderStyle)" class="border b_table">
                    <tr style="position: sticky;">
                        <th [style.border]="getBorderStyle(table.borderStyle)"
                            [style.background-color]="table.headerColor" class="border r_no">
                        </th>
                        <th [style.border]="getBorderStyle(table.borderStyle)"
                            [style.background-color]="table.headerColor" class="border r_no"
                            *ngIf="table.enableSequnceNumber">
                            No
                        </th>
                        <th *ngFor="let headers of table.columns" [style.border]="getBorderStyle(table.borderStyle)"
                            [style.width.%]="headers.field.control.columnWidth"
                            [style.background-color]="table.headerColor" class="border">
                            <div fxLayout="row" [fxLayoutAlign]="headers.field.control.columnHeaderAlignment">
                                {{headers.field.label.labelName}}
                            </div>
                        </th>
                        <ng-container
                            *ngIf="table.enableRowLevelComputation && table.enableRowLevelComputation.option===true">
                            <th [style.border]="getBorderStyle(table.borderStyle)" class="border"
                                [style.background-color]="table.headerColor">
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    {{table.enableRowLevelComputation.computationLabelName}}</div>
                            </th>
                        </ng-container>
                    </tr>
                    <ng-container *ngFor="let arrayGroup of formArray.controls;let i=index;">
                        <tr>
                            <td>
                                <div fxLayout="row" fxLayoutGap="5px">
                                    <mat-icon *ngIf="group.get('isFormEditable').value === true"
                                        style="cursor: pointer;font-size: 21px;" [id]="'add_'+i"
                                        (click)="addFormGroup(i)">add
                                    </mat-icon>
                                    <mat-icon *ngIf="formArray.length>1 && group.get('isFormEditable').value === true"
                                        style="cursor: pointer;color:#f05a5a;font-size: 21px;"
                                        (click)="removeFormGroup(i)" [id]="'rem_'+i">
                                        delete_sweep</mat-icon>
                                    <mat-icon *ngIf="group.get('isFormEditable').value === false"
                                        style="cursor: pointer;font-size: 21px;" [id]="'add_'+i">add
                                    </mat-icon>
                                    <mat-icon style="cursor: pointer;color:#f05a5a;font-size: 21px;" [id]="'rem_'+i"
                                        *ngIf="formArray.length>1 && group.get('isFormEditable').value === false">
                                        delete_sweep</mat-icon>
                                </div>
                            </td>
                            <td [style.border]="getBorderStyle(table.borderStyle)" class="border r_no"
                                *ngIf="table.enableSequnceNumber">{{i+1}}</td>
                            <td *ngFor="let field of table.columns;let j=index"
                                [style.border]="getBorderStyle(table.borderStyle)" class="border"
                                [style.background-color]="getColumnBackGroundStyle(arrayGroup.get(field.field.name))"
                                [matTooltip]="getMatTooltipValue(arrayGroup.get(field.field.name),field.field.label.labelName)">
                                <ng-container [formGroup]="arrayGroup">
                                    <ng-container *ngIf="field.controlType==='input'">
                                        <div fxLayout="column">

                                            <ng-container *ngIf="field.field.dataType === 'string'">
                                                <input matInput [type]="getDatatype(field.field.dataType)"
                                                    [formControlName]="field.field.name" [id]="'field_'+i+'_'+j"
                                                    [style.text-align]="getAllignment(field.field.control.columnHeaderAlignment)">
                                            </ng-container>
                                            <ng-container
                                                *ngIf="field.field.dataType === 'float'||field.field.dataType === 'long'">
                                                <input matInput [type]="getDatatype(field.field.dataType)"
                                                    [formControlName]="field.field.name" min="0"
                                                    oninput="this.value = Math.abs(this.value)" [id]="'field_'+i+'_'+j"
                                                    [style.text-align]="getAllignment(field.field.control.columnHeaderAlignment)">
                                            </ng-container>
                                        </div>

                                    </ng-container>
                                    <ng-container *ngIf="field.controlType==='textarea'">
                                        <div fxLayout="column">
                                            <textarea matInput [formControlName]="field.field.name"
                                                [id]="'field_'+i+'_'+j"
                                                [style.text-align]="getAllignment(field.field.control.columnHeaderAlignment)"></textarea>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field.controlType==='tel'">
                                        <div fxLayout="column">
                                            <input matInput type="tel" [formControlName]="field.field.name"
                                                [id]="'field_'+i+'_'+j"
                                                [style.text-align]="getAllignment(field.field.control.columnHeaderAlignment)">
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field.controlType==='email'">
                                        <div fxLayout="column">
                                            <input matInput type="email" [formControlName]="field.field.name"
                                                [id]="'field_'+i+'_'+j"
                                                [style.text-align]="getAllignment(field.field.control.columnHeaderAlignment)">
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field.controlType==='checkbox'">
                                        <div fxLayout="column">
                                            <mat-checkbox [formControlName]="field.field.name" [id]="'field_'+i+'_'+j"
                                                [style.text-align]="getAllignment(field.field.control.columnHeaderAlignment)">
                                            </mat-checkbox>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field.controlType==='select'">
                                        <div fxLayout="column">
                                            <mat-select [formControlName]="field.field.name" [id]="'field_'+i+'_'+j"
                                                [style.text-align]="getAllignment(field.field.control.columnHeaderAlignment)">
                                                <ng-container *ngIf="field.field.optionType ==='s'">
                                                    <mat-option *ngFor="let item of field.field.optionsValues"
                                                        [matTooltip]="item.description" [value]="item.code"
                                                        [id]="item.description">
                                                        {{item.description}}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field.controlType==='multipleselect'">
                                        <div fxLayout="column">
                                            <mat-select [formControlName]="field.field.name" multiple
                                                [id]="'field_'+i+'_'+j"
                                                [style.text-align]="getAllignment(field.field.control.columnHeaderAlignment)">
                                                <ng-container *ngIf="field.field.optionType ==='s'">
                                                    <mat-option *ngFor="let item of field.field.optionsValues"
                                                        [matTooltip]="item.description" [value]="item.code"
                                                        [id]="item.description">
                                                        {{item.description}}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field.controlType==='radiobutton'">
                                        <div fxLayout="column">
                                            <mat-radio-group [id]="'field_'+i+'_'+j"
                                                [formControlName]="field.field.name"
                                                [style.text-align]="getAllignment(field.field.control.columnHeaderAlignment)">
                                                <ng-container *ngIf="field.field.optionType ==='s' ">
                                                    <mat-radio-button *ngFor="let item of field.field.optionsValues"
                                                        [value]="item.code" style="margin-left:7px;margin-top:7px;">
                                                        <span style="margin-left: -5px">{{item.description}}</span>
                                                    </mat-radio-button>
                                                </ng-container>
                                            </mat-radio-group>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="field.controlType==='date'">
                                        <div fxLayout="column">
                                            <div fxLayout="row">
                                                <input matInput [min]="allowPastDate(field.field)"
                                                    [max]="allowFutureDate(field.field)" [matDatepicker]="picker"
                                                    [formControlName]="field.field.name" [id]="'field_'+i+'_'+j"
                                                    [style.text-align]="getAllignment(field.field.control.columnHeaderAlignment)">
                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                    <mat-icon matDatepickerToggleIcon style="font-size: 17px;"
                                                        (click)="setFormat(field.field.dateFormat)">
                                                        date_range</mat-icon>
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </td>
                            <ng-container
                                *ngIf="table.enableRowLevelComputation && table.enableRowLevelComputation.option===true">
                                <td [style.border]="getBorderStyle(table.borderStyle)" class="border">
                                    <div fxLayout="row">
                                        <ng-container [formGroup]="arrayGroup">
                                            {{arrayGroup.get(computationField.field.name).value}}

                                        </ng-container>
                                    </div>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                    <ng-container
                        *ngIf="table.enableColumnLevelComputation && table.enableColumnLevelComputation.option===true">
                        <tr>
                            <td>
                                <div fxLayout="row" fxLayoutGap="5px">
                                    <mat-icon [matTooltip]="table.enableColumnLevelComputation.computationLabelName">
                                        functions</mat-icon>
                                </div>
                            </td>
                            <td [style.border]="getBorderStyle(table.borderStyle)" class="border r_no"
                                *ngIf="table.enableSequnceNumber"></td>
                            <ng-container *ngFor="let columnArrayGroup of computationFormArray.controls;let i=index;">
                                <td *ngFor="let field of table.columns;"
                                    [style.border]="getBorderStyle(table.borderStyle)" class="border">
                                    <div fxLayout="row" fxLayoutAlign="center center">
                                        <ng-container *ngIf="columnArrayGroup.get(field.field.name).value!==0"
                                            [formGroup]="columnArrayGroup">
                                            {{columnArrayGroup.get(field.field.name).value}}
                                        </ng-container>
                                    </div>
                                </td>
                                <td *ngIf="isRowCompute">
                                    <ng-container *ngIf="totalCompute!==0">
                                        {{totalCompute}}
                                    </ng-container>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
</ng-container>