.channels-style {
    margin-top: 5px;
    margin-left: 5px;
    height: 24px;
    border-radius: 3px;
    color: grey;
    cursor: pointer;
    padding: 2px 6px 0px 6px;
}

.line-style {
    border-top: 0.5px solid rgb(211, 211, 211);
    width: 80%;
    margin: 12px 0px 0px 5px;
}

.sub-line-style {
  border-top: 0.5px solid rgb(211, 211, 211);
  width: 100%;
  margin: 12px 0px 0px 5px;
}

/**** Start falling dots ****/
.dot-falling {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9999px 0 0 0 #9880ff;
    animation: dotFalling 1s infinite linear;
    animation-delay: .1s;
  }
  
  .dot-falling::before, .dot-falling::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-falling::before {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFallingBefore 1s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-falling::after {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFallingAfter 1s infinite linear;
    animation-delay: .2s;
  }
  
  @keyframes dotFalling {
    0% {
      box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
    }
    25%,
    50%,
    75% {
      box-shadow: 9999px 0 0 0 #9880ff;
    }
    100% {
      box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
    }
  }
  
  @keyframes dotFallingBefore {
    0% {
      box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
    }
    25%,
    50%,
    75% {
      box-shadow: 9984px 0 0 0 #9880ff;
    }
    100% {
      box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
    }
  }
  
  @keyframes dotFallingAfter {
    0% {
      box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
    }
    25%,
    50%,
    75% {
      box-shadow: 10014px 0 0 0 #9880ff;
    }
    100% {
      box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
    }
  }
/*** end falling dots ***/  

#quill ::ng-deep .ql-container {
  font-size: 20px;
}

.apply-button-css {
  margin: 10px;
}

/*** quill mention css***/

#quill ::ng-deep .ql-mention-list-container {
  width: 240px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #ffffff;
  z-index: 9999;
  box-shadow: 0 2px 12px 0 #1e1e1e5c;
}

#quill ::ng-deep .ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  min-height: 50px;
  max-height: 150px;
}

#quill ::ng-deep .ql-mention-list-item {
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap;
}

#quill ::ng-deep .ql-mention-list-item.selected {
  background-color: #d3e1eb;
  text-decoration: none;
}

#quill ::ng-deep .mention {
  height: 24px;
  width: 65px;
  border-radius: 6px;
  background-color: #d3e1eb;
  padding: 3px 0;
}

#quill ::ng-deep .mention > span {
  margin: 0 3px;
}
.filter_option{
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #e1e9ff;
  color: #6993ff;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 5px;
  line-height: 25px;
}

/*** end ***/

.send-button-css{
  position: absolute;
  z-index: 9999;
  margin-left: 92%;
  margin-top: 13px;
}

.icon-css{
  font-size: 18px;
  cursor: pointer;
}

.quill-form-css{
  position: relative;
  padding-top: 5px;
  background-color: white;
  z-index: 9999;
}

.filter_option{
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #e1e9ff;
  color: #6993ff;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 5px;
  line-height: 25px;
}
