table {
    width: 100%;
  }

  .mat-checkbox{
   margin-top: 2%;
  }

  .loader {
    left: 50%;
    margin-left: -4em;
    margin-top: 22%;
}

.mat-mini-fab {
  height: 25px!important;
  width: 25px!important;
  line-height: 16px!important;
  padding:1px!important;
}

.mat-icon{
    font-size: 16px;;
}
