<h2 class="fs_12" *ngIf="fromData !== 'forCheck'">{{'Custom Attribute List' | translate}}</h2>
<hr class="mt-2">
<form [formGroup]="customAttributeForm" #userForm="ngForm">
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner [diameter]="40" *ngIf="!isLoaded && fromData === 'forCheck'"></mat-spinner>
    </div>
    <ng-container *ngIf="isLoaded">
        <div fxLayout="row">
            <div *ngIf="from==='update-org'" class="ca-label-width-css">
                <div formArrayName="customAttributeListVo"
                    *ngFor="let attribute of getCustomAtrributeFormArray().controls; let i = index">
                    <div [formGroupName]="i" class="row mx-0" fxLayoutAlign="end">
                        <div class="text-right pt-1 pr-0">
                            <p class=" fs_12 font-weight-bold ca-label-css">
                                {{attribute.get('name').value}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div formArrayName="customAttributeListVo"
                    *ngFor="let attribute of getCustomAtrributeFormArray().controls; let i = index">
                    <div [formGroupName]="i" class="row mx-0">
                        <div *ngIf="from==='login'" class="col-md-4 text-right pt-1 pr-0">
                            <p class="fs_12 mt-2 font-weight-bold">{{attribute.get('name').value}}</p>
                        </div>
                        <!-- class="col-md-8" -->
                        <div [class]="from==='login'?'col-md-8':'field-width'">
                            <mat-form-field class="w-100 " appearance="outline" *ngIf="attribute.get('dataType').value !== 'long' &&
                     attribute.get('dataType').value !== 'float' && attribute.get('dataType').value !== 'date'">
                                <input matInput type="text" formControlName="value"
                                    [placeholder]="attributeValuePlaceholder(attribute.get('required').value, attribute.get('name').value)"
                                    id="attributeValue">
                                <mat-icon matSuffix>text_fields</mat-icon>
                                <mat-error>{{'Attribute Value is required' | translate}}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-100" appearance="outline"
                                *ngIf="attribute.get('dataType').value === 'long' || attribute.get('dataType').value === 'float'">
                                <input matInput type="number" formControlName="value"
                                    [placeholder]="attributeValuePlaceholder(attribute.get('required').value, attribute.get('name').value)"
                                    id="attributeValue">
                                <mat-icon matSuffix>pin</mat-icon>
                                <mat-error>{{'Attribute Value is required' | translate}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" *ngIf="attribute.get('dataType').value === 'date'"
                                class="w-100">
                                <input matInput id="attributeValue" [matDatepicker]="picker" formControlName="value"
                                    [placeholder]="attributeValuePlaceholder(attribute.get('required').value, attribute.get('name').value)">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error>{{'Attribute Value is required' | translate}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-actions>
            <div *ngIf="isMobile" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" type="submit"
                    *ngIf="fromData !== 'forCheck' && getCustomAtrributeFormArray().length > 0" (click)="save(userForm)"
                    id="btnSave" [disabled]="!customAttributeForm.dirty">{{'Save' |
                    translate}}</button>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end" class="mr-3"
                *ngIf="!isMobile && fromData !== 'forCheck' && getCustomAtrributeFormArray().length > 0">
                <button mat-raised-button color="primary" type="submit" (click)="save(userForm)" id="btnSave"
                    [disabled]="!customAttributeForm.dirty">{{'Save' |
                    translate}}</button>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end" class="mr-3">
                <button mat-raised-button color="primary" type="submit" *ngIf="fromData === 'forCheck'"
                    (click)="save(userForm)" id="btnSave">{{'Save and Continue' | translate}}</button>
            </div>
        </mat-card-actions>
    </ng-container>
</form>