<div fxLayout.xs="column" fxLayoutAlign="start none" style="margin: 1%">
  <mat-card class="card-style">
    <div fxFill="100">
      <mat-card>
        <mat-card-title>Provider</mat-card-title>
        <form [formGroup]="form" #userForm="ngForm">
          <div formGroupName="provider">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field style="width: 20%;">
                <input matInput type="text" formControlName="npi" name="npi" id="npi" required
                  placeholder="Provider NPI" readonly="{{readonly}}">
                <mat-error class="text-danger" id="npiRequired" *ngIf="form.get('provider').get('npi').errors?.required
           &&(userForm.submitted || form.get('provider').get('npi').touched || form.get('provider').get('npi').dirty)">
                  Provider NPI is required
                </mat-error>
              </mat-form-field>

              <mat-form-field style="width: 20%;">
                <input matInput type="text" formControlName="taxonomy" name="taxonomy" id="taxonomy" required
                  placeholder="Provider Taxonomy">
                <mat-error class="text-danger" id="taxonomyRequired"
                  *ngIf="form.get('provider').get('taxonomy').errors?.required
            &&(userForm.submitted || form.get('provider').get('taxonomy').touched || form.get('provider').get('taxonomy').dirty)">
                  Provider Taxonomy is required
                </mat-error>
              </mat-form-field>

              <mat-form-field style="width: 20%;">
                <input matInput type="text" name="firstName" formControlName="firstName" id="firstName" required
                  placeholder="First Name">
                <mat-error class="text-danger" id="firstNameRequired"
                  *ngIf="form.get('provider').get('firstName').errors?.required
          &&(userForm.submitted || form.get('provider').get('firstName').touched || form.get('provider').get('firstName').dirty)">
                  First Name is required
                </mat-error>
              </mat-form-field>

              <mat-form-field style="width: 20%;">
                <input matInput type="text" name="lastName" formControlName="lastName" id="lastName" required
                  placeholder="Last Name">
                <mat-error class="text-danger" id="lastNameRequired"
                  *ngIf="form.get('provider').get('lastName').errors?.required
        &&(userForm.submitted || form.get('provider').get('lastName').touched || form.get('provider').get('lastName').dirty)">
                  Last Name is required
                </mat-error>

              </mat-form-field>

              <mat-form-field style="width: 20%;">
                <input matInput type="text" name="organizationName" formControlName="organizationName"
                  id="organizationName" required placeholder="Organization Name">
                <mat-error class="text-danger" id="organizationNameRequired"
                  *ngIf="form.get('provider').get('organizationName').errors?.required
        &&(userForm.submitted || form.get('provider').get('organizationName').touched || form.get('provider').get('organizationName').dirty)">
                  Organization Name is required
                </mat-error>

              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field style="width: 19%;">
                <input matInput type="text" formControlName="taxId" name="tax" id="tax" required
                  placeholder="SSN / EIN">
                <mat-error class="text-danger" id="taxIdRequired" *ngIf="form.get('provider').get('taxId').errors?.required
      &&(userForm.submitted || form.get('provider').get('taxId').touched || form.get('provider').get('taxId').dirty)">
                  SSN / EIN is required
                </mat-error>

              </mat-form-field>

              <mat-form-field style="width: 19%;">
                <mat-label>Provider Type *</mat-label>
                <mat-select id="type" name="type" formControlName="type">
                  <mat-option id="individual" value="I">Individual</mat-option>
                  <mat-option id="organization" value="O">Organization</mat-option>
                </mat-select>
                <mat-error class="text-danger" id="billingTypeRequired" *ngIf="form.get('provider').get('type').errors?.required
    &&(userForm.submitted || form.get('provider').get('type').touched || form.get('provider').get('type').dirty)">
                  Provider Type is required
                </mat-error>
              </mat-form-field>
              <mat-form-field style="width: 19%;">
                <input matInput type="text" formControlName="serviceFacility" id="serviceFacility"
                  placeholder="Service Facility">
              </mat-form-field>
            </div>
            <div formGroupName="address">

              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field style="width: 19%;">
                  <input matInput type="text" formControlName="address" name="address" id="address" required
                    placeholder="Address">
                  <mat-error class="text-danger" id="addressRequired"
                    *ngIf="form.get('provider').get('address').get('address').errors?.required
                &&(userForm.submitted || form.get('provider').get('address').get('address').touched || form.get('provider').get('address').get('address').dirty)">
                    Address is required
                  </mat-error>

                </mat-form-field>
                <mat-form-field style="width: 19%;">
                  <input matInput type="text" formControlName="city" name="city" id="city" required placeholder="City">
                  <mat-error class="text-danger" id="cityRequired"
                    *ngIf="form.get('provider').get('address').get('city').errors?.required
                  &&(userForm.submitted || form.get('provider').get('address').get('city').touched || form.get('provider').get('address').get('city').dirty)">
                    City is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 19%;">
                  <input matInput type="text" formControlName="state" name="state" id="state" required
                    placeholder="State" maxlength="2">
                  <mat-error class="text-danger" id="stateRequired"
                    *ngIf="form.get('provider').get('address').get('state').errors?.required
                    &&(userForm.submitted || form.get('provider').get('address').get('state').touched || form.get('provider').get('address').get('state').dirty)">
                    State is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 19%;">
                  <input matInput type="text" formControlName="zipcode" name="zipcode" id="zipcode" required
                    placeholder="Zipcode" maxlength="9">
                  <mat-error class="text-danger" id="zipcodeRequired"
                    *ngIf="form.get('provider').get('address').get('zipcode').errors?.required
                    &&(userForm.submitted || form.get('provider').get('address').get('zipcode').touched || form.get('provider').get('address').get('zipcode').dirty)">
                    Zipcode is required
                  </mat-error>

                </mat-form-field>
              </div>
            </div>



          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field style="width: 19%;">
              <mat-label for="environmentList">
                Environment Name
              </mat-label>
              <mat-select [(value)]="selected" formControlName="environmentId" id="environmentList">
                <mat-option style="display:none" value="Environment Name"></mat-option>
                <mat-option id="environmentOption" [value]="environment.id" *ngFor="let environment of response">
                  {{environment.environmentNames}}
                </mat-option>
              </mat-select>
              <mat-error class="text-danger" id="environmentNameRequired" *ngIf="form.get('environmentId').errors?.required
                  &&(userForm.submitted || form.get('environmentId').touched || form.get('environmentId').dirty)">
                Environment Name is required
              </mat-error>
            </mat-form-field>
            <ng-container formGroupName="provider">
              <mat-form-field style="width: 60%;">
                <input matInput type="text" formControlName="description" name="description" id="description" required
                  placeholder="Provider Description" maxlength="150">
                <mat-error class="text-danger" id="identifierRequired"
                  *ngIf="form.get('provider').get('description').errors?.required
            &&(userForm.submitted || form.get('provider').get('description').touched || form.get('provider').get('description').dirty)">
                  Provider Description is required
                </mat-error>
              </mat-form-field>
            </ng-container>
          </div>

          <mat-card-actions>
            <div fxLayoutAlign="center center">
              <button mat-raised-button color="primary" id="btnsave" class="ml-3 float-center"
                (click)="save(userForm)">Save</button>
              <button mat-raised-button color="primary" type="reset" id="btnreset" name="btnrset" class="resetbutton"
                (click)="clearSearch(userForm)">Reset</button>
              <button mat-raised-button id="delete" (click)="delete(userForm)" color="accent">Delete</button>
            </div>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </mat-card>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" style="margin: 1%">
  <div fxFill="100">
    <mat-card class="card-style">
      <mat-card-title>Provider List</mat-card-title>
      <app-yorogrid #provider gridId="provider" (messageEvent)="receiveMessage($event)" defaultColumn="type">
      </app-yorogrid>
    </mat-card>
  </div>
</div>