.user_filter_option {
    height: 30px;
    padding: 0px 5px;
    border-radius: 5px;
    background-color: #e1e9ff;
    color: #6993ff;
    line-height: 26px;
    font-size: 12px;
    margin-top: 3px;
  }
  .user-margin {
    margin-top: 8px;
    width: 100px;
  }
  .setHighlight {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    position: relative;
  }