<div fxLayout.xs="column" fxLayoutAlign="start none" style="margin: 1%">
  <mat-card class="card-style">
    <div fxFill="100" class="card-style">
      <mat-card>
        <mat-card-title>Payor</mat-card-title>
        <form [formGroup]="form" #userForm="ngForm">
          <div formGroupName="payor">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field style="width: 20%;">
                <input matInput type="text" formControlName="identifier" name="identifier" id="identifier" required
                  placeholder="Payor Identifier" readonly="{{readonly}}">
                <mat-error class="text-danger" id="identifierRequired"
                  *ngIf="form.get('payor').get('identifier').errors?.required
             &&(userForm.submitted || form.get('payor').get('identifier').touched || form.get('payor').get('identifier').dirty)">
                  Identifier is required
                </mat-error>

              </mat-form-field>

              <mat-form-field style="width: 20%;">
                <input matInput type="text" name="payorName" formControlName="name" id="payorName" required
                  placeholder="Payor Name">
                <mat-error class="text-danger" id="payorNameRequired" *ngIf="form.get('payor').get('name').errors?.required
           &&(userForm.submitted || form.get('payor').get('name').touched || form.get('payor').get('name').dirty)">
                  Payor Name is required
                </mat-error>
              </mat-form-field>


            </div>

            <div formGroupName="address">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

                <mat-form-field style="width: 20%;">
                  <input matInput type="text" formControlName="address" name="address" id="address" required
                    placeholder="Address">
                  <mat-error class="text-danger" id="addressRequired"
                    *ngIf="form.get('payor').get('address').get('address').errors?.required
                &&(userForm.submitted || form.get('payor').get('address').get('address').touched || form.get('payor').get('address').get('address').dirty)">
                    Address is required
                  </mat-error>

                </mat-form-field>
                <mat-form-field style="width: 20%;">
                  <input matInput type="text" formControlName="city" name="city" id="city" required placeholder="City">
                  <mat-error class="text-danger" id="cityRequired"
                    *ngIf="form.get('payor').get('address').get('city').errors?.required
                  &&(userForm.submitted || form.get('payor').get('address').get('city').touched || form.get('payor').get('address').get('city').dirty)">
                    City is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 20%;">
                  <input matInput type="text" formControlName="state" name="state" id="state" required
                    placeholder="State" maxlength="2">
                  <mat-error class="text-danger" id="stateRequired"
                    *ngIf="form.get('payor').get('address').get('state').errors?.required
                    &&(userForm.submitted || form.get('payor').get('address').get('state').touched || form.get('payor').get('address').get('state').dirty)">
                    State is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 20%;">
                  <input matInput type="text" formControlName="zipcode" name="zipcode" id="zipcode" required
                    placeholder="Zipcode" maxlength="9">
                  <mat-error class="text-danger" id="zipcodeRequired"
                    *ngIf="form.get('payor').get('address').get('zipcode').errors?.required
                    &&(userForm.submitted || form.get('payor').get('address').get('zipcode').touched || form.get('payor').get('address').get('zipcode').dirty)">
                    Zipcode is required
                  </mat-error>

                </mat-form-field>
              </div>
            </div>



          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field style="width: 20%;">
              <mat-label for="environmentList">
                Environment Name
              </mat-label>
              <mat-select [(value)]="selected" formControlName="environmentId" id="environmentList">
                <mat-option style="display:none" value="Environment Name"></mat-option>
                <mat-option id="environmentOption" [value]="environment.id" *ngFor="let environment of response">
                  {{environment.environmentNames}}
                </mat-option>
              </mat-select>
              <mat-error class="text-danger" id="environmentNameRequired" *ngIf="form.get('environmentId').errors?.required
                  &&(userForm.submitted || form.get('environmentId').touched || form.get('environmentId').dirty)">
                Environment Name is required
              </mat-error>
            </mat-form-field>
            <ng-container formGroupName="payor">
              <mat-form-field style="width: 62.7%;">
                <input matInput type="text" formControlName="description" name="description" id="description" required
                  placeholder="Payor Description" maxlength="150">
                <mat-error class="text-danger" id="identifierRequired" *ngIf="form.get('payor').get('description').errors?.required
&&(userForm.submitted || form.get('payor').get('description').touched || form.get('payor').get('description').dirty)">
                  Payor Description is required
                </mat-error>
              </mat-form-field>
            </ng-container>

          </div>
          <mat-card-actions>
            <div fxLayoutAlign="center center">
              <button mat-raised-button color="primary" id="btnsave" class="ml-3 float-center"
                (click)="save(userForm)">Save</button>
              <button mat-raised-button color="primary" type="reset" id="btnreset" name="btnrset" class="resetbutton"
                (click)="clearSearch(userForm)">Reset</button>
              <button mat-raised-button id="delete" (click)="delete(userForm)" color="accent">Delete</button>
            </div>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </mat-card>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" style="margin: 1%">
  <div fxFill="100">
    <mat-card class="card-style">
      <mat-card-title>Payor List</mat-card-title>
      <app-yorogrid #payor gridId="payor" (messageEvent)="receiveMessage($event)" defaultColumn="type">
      </app-yorogrid>
    </mat-card>
  </div>
</div>