.team-btn {
  width: 100px;
  border: 1px solid #c0c0c9;
  margin: 10px;
  &:hover {
    background-color: white;
    border: 1px solid rgb(9, 18, 146);
    color: rgb(9, 18, 146);
    font-weight: 600;
  }
}
.active {
  background-color: white;
  border: 1px solid rgb(9, 18, 146);
  color: rgb(9, 18, 146);
  font-weight: 600;
}
.circle-class-workspace {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.circle-class-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px 0 0 10px;
  cursor: pointer;
  // &:hover {
  //     width: 20px;
  // height: 20px;
  // border-radius: 50%;
  // }
}
#work_space ::ng-deep .mat-horizontal-content-container {
  padding: 0px !important;
}

.circle-css {
  position: absolute;
  font-size: 16px;
  margin-left: 18px;
  margin-top: -18px;
  z-index: 9999;
}
.flag-container-css {
  width: 30px;
  height: 30px;
  border: 2px dashed grey;
  border-radius: 50%;
  line-height: 30px;
  position: relative;
  cursor: pointer;
  margin-top: 1px;
  margin-left: 10px;
  color: grey;
}
.flag-css {
  margin-left: 5px;
  margin-top: 4px;
  font-size: 15px;
  color: lightgray;
}
.mat-icon-color {
  color: gray;
  &:hover {
    color: black;
  }
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
