.userProfile-css {
  width: 22px;
  height: 22px;
  background: #c2185b;
  color: white;
  margin-top: 8px;
  line-height: normal;
  border-radius: 3px;
  font-size: 15px;
  padding-top: 2px;
}

.assigneeUserButton-css {
  width: 100%;
  height: 45px;
  margin-top: 3px;
}

.userSelectedIcon-css {
  color: rgb(0, 128, 0);
}

#task-configur ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.heading {
  margin-bottom: 0px;
  background: #79cff9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 5px;
  color: white;
}

.heading1 {
  margin-bottom: 0px;
  background: #79cff9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 5px;
  color: white;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  box-shadow: inset 0 0 5px rgb(254, 255, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid #fff;
}

#task-configur ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 12px 5px 7px 5px !important;
  border: 5px !important;
}

#task-configur
  ::ng-deep
  .mat-form-field-flex
  > .mat-form-field-infix
  .mat-form-field-appearance-outline
  .mat-form-field-suffix {
  top: 0.45em;
}

#task-configur ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  margin-top: 4px;
}

#task-configur ::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
  top: -17px;
}
.user_letter{
  width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    padding: 0px;
  //   background-color: #c2185b;
    color: white;
    margin-bottom:0px;
}

.margin-class{
  margin-bottom:0px;
  margin-top: 5px;
  word-break: break-word;
}

.flag-container-css {
  width: 25px;
  height: 25px;
  border: 2px dashed grey;
  border-radius: 50%;
  line-height: 25px;
  position: relative;
  cursor: pointer;
  margin-top: 8px;
  color: grey;
}
.flag-css {
  margin-left: 3px;
  margin-top: 2px;
  font-size: 17px;
  color: lightgray;
}
.circle-css {
  background-color: white;
  position: absolute;
  font-size: 15px;
  margin-left: 12px;
  margin-top: -16px;
  z-index: 9999;
  width: 14px;
  height: 13px;
  border-radius: 50%;
}
.inner_card_user{
  padding:10px;
  background-color: #fff;
  margin-bottom: 5px!important;
  cursor: pointer;
  width: 100% !important;
  display: inline-block;
  &:hover{
    background-color: rgb(239, 241, 255);
  }
}
.mat-icon-color{
  color:gray;
  &:hover {
    color:black;
}

}

.heading {
  margin-bottom: 0px;
  background: #79cff9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 5px;
  color: white;
}

.heading1 {
  margin-bottom: 0px;
  background: #79cff9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 5px;
  color: white;
  margin-top: 10px;
}

.assigneeUserButton-css {
  width: 100%;
  height: 45px;
  margin-top: 3px;
}

.userProfile-css {
  width: 22px;
  height: 22px;
  background: #c2185b;
  color: white;
  margin-top: 8px;
  line-height: normal;
  border-radius: 3px;
  font-size: 15px;
  padding-top: 2px;
}
.userSelectedIcon-css {
  color: rgb(0, 128, 0);
}

.team-css{
  overflow: hidden;
  height: 100%;
}

#team-list ::ng-deep .ps--active-x > .ps__rail-x {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  box-shadow: inset 0 0 5px rgb(254, 255, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid #fff;
}

::ng-deep .mat-select-panel::-webkit-scrollbar {
  -webkit-appearance: none;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:vertical {
  width: 6px;
  height: 30px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:horizontal {
  height: 18px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
  box-pack: center;


}

::ng-deep .mat-select-panel::-webkit-scrollbar:vertical:hover {
  width: 10px;
  max-height: 80vh !important;

}
::ng-deep .mat-select-panel::-webkit-scrollbar:horizontal:hover {
  max-height: 80vh !important;
}
::-webkit-scrollbar-thumb{
  height: 40px;
}
table {
  width: 100%;
}

.loader {
  left: 50%;
  margin-left: -4em;
  margin-top: 22%;
}

.mat-mini-fab  {
height: 30px;
width: 30px;
}

.mat-icon{
  font-size: 16px;
  padding-right: 2px;
}

#task-security ::ng-deep .mat-horizontal-stepper-header-container {
display: none !important;
}


#task-security ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
padding: 12px 5px 7px 5px !important;
border: 5px !important;
}

#task-security ::ng-deep .mat-form-field-flex > .mat-form-field-infix .mat-form-field-appearance-outline .mat-form-field-suffix {
top: 0.45em;
}

#task-security ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
margin-top: 4px;
}

#task-security ::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
top: -17px;
}

#task-security ::ng-deep .mat-select-arrow {
margin-top: 11px !important;
}


.border-style {
width: 63%;
border-top: 0.5px solid rgb(212, 212, 212);
margin-top: 10px;
margin-left: 5px;
}

.assignto-column {
margin-left: 15px;
width: 100%;
}

.hover-class {
z-index: 0;
&:hover {
    z-index: 9999;
    border: 0.5px solid #2525ff;
}
}

.text-style {
font-size: 14px;
font-weight: 600;
color: #888c94;
height: 10px;
}

#task-security ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
background-color: #00e600;
}

#task-security ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
background-color:#80ff80 
}
#for_popup_chip ::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0px!important;
}




