<mat-spinner [diameter]="40" style="margin-left: 48%" *ngIf="!pageRendered"></mat-spinner>
<perfect-scrollbar [config]="config">
    <form [formGroup]="apiForm" #userForm="ngForm">
        <!-- <button mat-raised-button type="button" color="primary" style="height: 40px; margin-top: 2%;" id="newFirstApi" class="ml-3 float-center"
                (click)="newFirstApi()"  *ngIf="!showForm">Create Api Key</button> -->
        <ng-container *ngIf="showForm">
            <mat-card style="margin-top: 1%;">
                <div fxLayoutAlign="end end">
                    <mat-icon (click)="close()" style="cursor: pointer;" *ngIf="pageRendered">close</mat-icon>
                </div>
                <mat-card-title>{{'Create API Key' | translate}}</mat-card-title>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field style="width: 25%;">
                        <input matInput placeholder="{{'API Name' | translate}}" formControlName="apiName" id="apiName">
                        <mat-error id="apiNameRequired">
                            {{'API Name is required' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{'Expiration Date' | translate}}</mat-label>
                        <input matInput [matDatepicker]="datePicker" [min]="minDate" formControlName="expiresOn"
                            id="expirationDate">
                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                        <mat-error id="expirationDateRequired">
                            {{'Expiration Date is required' | translate}}</mat-error>
                    </mat-form-field>
                    <!-- <ng-container *ngIf="disableButton">
            <button mat-raised-button type="button" color="primary" style="height: 40px;" id="newApi" class="ml-3 float-center"
                (click)="newApi()">Create New Api Key</button>
            </ng-container> -->
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field style="width: 100%;"
                        *ngIf="apiForm.get('apiKey').value !== '' && apiForm.get('apiKey').value !== null">
                        <input matInput placeholder="{{'Api Key' | translate}}" formControlName="apiKey" id="apiKey">
                        <mat-error id="apiKeyRequired">
                            {{'Api Key is required' | translate}}</mat-error>
                    </mat-form-field>
                    <div fxLayout="column" fxLayoutGap="1px">
                        <ng-container
                            *ngIf="apiForm.get('secretKey').value !== '' && apiForm.get('secretKey').value !== null  && showSecretKey">
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="{{'Secret Key' | translate}}" formControlName="secretKey"
                                    id="secretKey">
                                <mat-error id="secretKeyRequired">
                                    {{'Secret Key is required' | translate}}</mat-error>
                            </mat-form-field>
                            <div>
                                {{'(Secret key will not shown next time, Please make note of it.)' | translate}}
                            </div>
                        </ng-container>
                    </div>
                </div>
                <mat-tab-group (selectedTabChange)="record($event)" id="record" *ngIf="showtabbedMenu">
                    <mat-tab label="{{'Pages' | translate}}">
                        <div style="padding-left: 350px;">
                            <mat-spinner [diameter]="40" *ngIf="!showPage"></mat-spinner>
                        </div>
                        <ng-container *ngIf="getPagePermissionFormarray().length > 0">
                            <!-- <mat-card-title style="margin-top: 3%;">Pages</mat-card-title> -->
                            <div fxLayout="row" fxLayoutGap="30px" style="margin-top: 2%;">
                                <mat-label fxFlexOffset="10" style="width: 20%; font-weight: bold;">{{'Page Name' |
                                    translate}}</mat-label>
                                <mat-label style="width: 5%; font-weight: bold;">{{'Version' | translate}}</mat-label>
                                <mat-label style="width: 5%; font-weight: bold;">{{'Create' | translate}}</mat-label>
                                <mat-label style="width: 5%; font-weight: bold;">{{'Read' | translate}}</mat-label>
                                <mat-label style="width: 5%; font-weight: bold;">{{'Update' | translate}}</mat-label>
                                <mat-label style="width: 5%; font-weight: bold;">{{'Delete' | translate}}</mat-label>
                            </div>
                        </ng-container>
                        <div formArrayName="pagePermissions"
                            *ngFor="let rule of getPagePermissionFormarray().controls; let i = index">
                            <div [formGroupName]="i" style="margin-top: 5px;" fxLayout="row" fxLayoutGap="30px">
                                <mat-label fxFlexOffset="10" style="width: 20%;">{{rule.get('pageName').value}}
                                </mat-label>
                                <!-- <mat-form-field fxFlexOffset="10">
                                <mat-label>Page Name *</mat-label>
                                <input formControlName="pageName" (click)="getAllPageNames(rule.get('pageName'))"
                                    matInput type="text" [matAutocomplete]="pageName"
                                    (focusout)="setAutocompleteValidation(rule.get('pageName'))">
                                <mat-autocomplete #pageName="matAutocomplete">
                                    <mat-option *ngFor="let option of pageNameOptions; let in = index;"
                                        (onSelectionChange)="loadPageIdAndVersion(option.pageId,option.version, rule)"
                                        [value]="option.pageName">
                                        {{option.pageName}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="rule.get('pageName').errors?.required">
                                    Page Name is required</mat-error>
                                <mat-error *ngIf="rule.get('pageName').errors?.invalidPageName">
                                    Invalid Page Name
                                </mat-error>
                            </mat-form-field> -->
                                <mat-label style="width: 5%;">{{rule.get('version').value}}</mat-label>
                                <div style="width: 5%">
                                    <mat-checkbox formControlName="createAllowed" [id]="'createAllowed'+'_'+i">
                                    </mat-checkbox>
                                </div>
                                <div style="width: 5%">
                                    <mat-checkbox formControlName="readAllowed" [id]="'readAllowed'+'_'+i">
                                    </mat-checkbox>
                                </div>
                                <div style="width: 5%">
                                    <mat-checkbox formControlName="updateAllowed" [id]="'updateAllowed'+'_'+i">
                                    </mat-checkbox>
                                </div>
                                <div style="width: 5%">
                                    <mat-checkbox formControlName="deleteAllowed" [id]="'deleteAllowed'+'_'+i">
                                    </mat-checkbox>
                                </div>
                                <!-- <button mat-mini-fab class="icon" type="button" color="primary"
                                (click)="addPagePermissionFormGroup(iw)" class="add" style="margin-top: 15px;"
                                [disabled]="rule.get('pageName').value === ''">
                                <mat-icon>add</mat-icon>
                            </button> -->
                                <button mat-mini-fab class="icon" type="button"
                                    [id]="'removePagePermissionFormGroup'+'_'+i"
                                    (click)="removePagePermissionFormGroup(i)" class="add" [disabled]="disableButton">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{'Workflows' | translate}}">
                        <div style="padding-left: 400px;">
                            <mat-spinner [diameter]="40" *ngIf="!showWorkflow"></mat-spinner>
                        </div>
                        <ng-container *ngIf="getWorkflowPermissionFormarray().length > 0">
                            <!-- <mat-card-title style="margin-top: 3%;">Workflows
            </mat-card-title> -->
                            <div fxLayout="row" fxLayoutGap="30px" style="margin-top: 2%;">
                                <mat-label fxFlexOffset="10" style="width: 20%; font-weight: bold;">{{'Workflow Name' |
                                    translate}}</mat-label>
                                <mat-label style="width: 5%; font-weight: bold;">{{'Version' | translate}}</mat-label>
                                <mat-label style="width: 5%; font-weight: bold;">{{'Update' | translate}}</mat-label>
                                <mat-label style="width: 5%; font-weight: bold;">{{'Read' | translate}}</mat-label>
                                <mat-label style="width: 5%; font-weight: bold;">{{'Publish' | translate}}</mat-label>
                                <mat-label style="width: 5%; font-weight: bold;">{{'Launch' | translate}}</mat-label>
                            </div>
                        </ng-container>
                        <div formArrayName="workflowPermissions"
                            *ngFor="let flow of getWorkflowPermissionFormarray().controls; let iwf = index">
                            <div [formGroupName]="iwf" style="margin-top: 8px;" fxLayout="row" fxLayoutGap="30px">
                                <mat-label fxFlexOffset="10" style="width: 20%;">{{flow.get('workflowName').value}}
                                </mat-label>
                                <mat-label style="width: 5%;">{{flow.get('version').value}}</mat-label>
                                <!-- <mat-form-field fxFlexOffset="10">
                                <mat-label>Workflow Name *</mat-label>
                                <mat-select formControlName="workflowName">
                                    <mat-option (onSelectionChange)="selectVersion(workflow.key,$event, iw, iwf)"
                                        [value]="workflow.processDefinitionName" *ngFor="let workflow of workFlowList">
                                        {{workflow.processDefinitionName}}</mat-option>
                                </mat-select>
                                <mat-error>Workflow Name is required</mat-error>
                            </mat-form-field>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Workflow Version *</mat-label>
                                <mat-select formControlName="workflowVersion">
                                    <mat-option value="latest">Latest</mat-option>
                                    <mat-option [value]="''+workflow.workflowVersion"
                                        *ngFor="let workflow of workflowVersionList">
                                        {{workflow.workflowVersion}}</mat-option>
                                </mat-select>
                                <mat-error>Workflow version is required</mat-error>
                            </mat-form-field> -->
                                <div style="width: 5%;">
                                    <mat-checkbox formControlName="updateAllowed" [id]="'updateAllow'+'_'+iwf">
                                    </mat-checkbox>
                                </div>
                                <div style="width: 5%;">
                                    <mat-checkbox formControlName="readAllowed" [id]="'readAllow'+'_'+iwf">
                                    </mat-checkbox>
                                </div>
                                <div style="width: 5%;">
                                    <mat-checkbox formControlName="publishAllowed" [id]="'publishAllowed'+'_'+iwf">
                                    </mat-checkbox>
                                </div>
                                <div style="width: 5%;">
                                    <mat-checkbox formControlName="launchAllowed" [id]="'launchAllowed'+'_'+iwf">
                                    </mat-checkbox>
                                </div>
                                <!-- <button mat-mini-fab class="icon" type="button" color="primary"
                        (click)="addWorkflowPermissionFormGroup(iw)" class="add" style="margin-top: 15px;"
                        [disabled]="flow.get('workflowName').value === ''">
                        <mat-icon>add</mat-icon>
                    </button> -->
                                <button mat-mini-fab type="button" [id]="'removeWorkflowPermissionFormGroup'+'_'+iwf"
                                    (click)="removeWorkflowPermissionFormGroup(iwf)" [disabled]="disableButton">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
            <mat-card-actions>
                <div fxLayoutAlign="center center">
                    <button mat-raised-button type="submit" color="primary" id="btnsave" class="ml-3 float-center"
                        *ngIf="!disableButton && !showCreateButton" (click)="submitApi(userForm)">{{'Generate API Key' |
                        translate}}</button>
                    <button mat-raised-button color="accent" type="button" id="btnreset" name="btnDelete"
                        class="resetbutton" (click)="deleteApi(apiForm.get('id').value)"
                        *ngIf="apiForm.get('id').value !== '' && apiForm.get('id').value !== null">{{'Delete' |
                        translate}}</button>
                    <button mat-raised-button type="button" color="accent" id="closeDialog" class="ml-3 float-center"
                        (click)="close()">{{'Close' | translate}}</button>
                </div>
            </mat-card-actions>
        </ng-container>
    </form>
</perfect-scrollbar>