<div fxLayout="row" fxLayoutAlign="space-around center" style="margin:1%">
    <div fxFlex="50%">
        <mat-card style="background-color:rgb(154, 199, 212)">
            <div class="accordion-form-section">
                <form [formGroup]="form" #userForm="ngForm">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1px">
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" class="card">

                            <div fxFlex="80%" fxFlexAlign="start">
                                <h1>Change Password</h1>
                            </div>
                            <mat-card style="margin-top: 1%">
                                <p style="width: 80%;">
                                    <mat-form-field>
                                        <mat-label>Old Password</mat-label>
                                        <input [type]="hideOld ? 'password' : 'text'" matInput
                                            placeholder="Old Password" name="oldPasssword" required
                                            formControlName="oldPasssword">
                                        <mat-error class="text-danger" id="oldPasswordRequired" *ngIf="form.get('oldPasssword').errors?.required
                        &&(userForm.submitted || form.get('oldPasssword').touched 
                        || form.get('oldPasssword').dirty)">
                                            Old Password is required</mat-error>
                                        <button type="button" mat-icon-button matSuffix (click)="hideOld = !hideOld"
                                            [attr.aria-label]="'Hide password'">
                                            <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>

                                    </mat-form-field>
                                </p>

                                <p style="width: 80%;">
                                    <mat-form-field>
                                        <mat-label>New Password</mat-label>
                                        <input [type]="hideNew ? 'password' : 'text'" matInput
                                            placeholder="New Password" required name="newPassword"
                                            formControlName="newPassword">
                                        <mat-error class="text-danger" id="newPasswordRequired" *ngIf="form.get('newPassword').errors?.required
                        &&(userForm.submitted || form.get('newPassword').touched 
                        || form.get('newPassword').dirty)">
                                            New Password is required</mat-error>
                                        <button type="button" mat-icon-button matSuffix (click)="hideNew = !hideNew"
                                            [attr.aria-label]="'Hide password'">
                                            <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </p>

                                <p style="width: 80%;">
                                    <mat-form-field>
                                        <mat-label>Confirm New Password</mat-label>
                                        <input [type]="hideConfirm ? 'password' : 'text'"
                                            appConfirmEqualValidator="newPassword" name="confirmNewPassword" matInput
                                            placeholder="Confirm New Password" required
                                            formControlName="confirmNewPassword">
                                        <mat-error class="text-danger" id="confirmNewPasswordRequired" *ngIf="form.get('confirmNewPassword').errors?.required
                        &&(userForm.submitted || form.get('confirmNewPassword').touched 
                        || form.get('confirmNewPassword').dirty)">
                                            Confirm New Password is required</mat-error>
                                        <button type="button" mat-icon-button matSuffix
                                            (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'">
                                            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>

                                    </mat-form-field>
                                </p>
                                <mat-error class="text-danger" id="confirmNewPasswordRequired" *ngIf="
                  form.get('confirmNewPassword').errors?.notEqual">
                                    New Password and Confirm New Password does not match.
                                </mat-error>
                            </mat-card>
                            <div fxLayoutAlign="end start" style="margin-top:1%">
                                <button mat-raised-button color="primary" type="submit" style="margin-right: 4%"
                                    (click)="save(userForm)">Change Password</button>
                                <button mat-raised-button color="accent" type="reset"
                                    (click)="clearSearch()">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>