<div style="margin:1%" [hidden]="!isBackList">
  <div fxLayoutAlign="space-between center" style="margin-top:1%">
    <button mat-raised-button color="primary" routerLink="../../list-claims"> Back To List</button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" style="margin:1%">
  <div fxFlex="100%">

    <mat-card style="background-color:rgb(154, 199, 212)">
      <div class="accordion-form-section">
        <form [formGroup]="claim" #userForm="ngForm">
          <mat-card style="margin-top: 1%">
            <div fxLayoutAlign="space-between center" style="margin-top:1%" id="mainDiv">
              <mat-form-field>
                <mat-label>Template Name </mat-label>
                <mat-select formControlName="templateName" (selectionChange)="showTemplateButton($event)"
                  (focusout)="focusOutForFormElement('templateName', $event)" disabled="{{editing}}" id="templateName">
                  <mat-option id="templateList" *ngFor="let template of templatelist" value="{{template.id}}">
                    {{ template.templateName}}</mat-option>
                </mat-select>

              </mat-form-field>
              <div fxLayoutAlign="end center" style="margin-top:1%">
              <button *ngIf=testCaseEdit mat-raised-button color="primary" (click)="duplicateClaim(userForm)"
                id="dupeBtn" style="margin-right:1%">Duplicate</button>
              <button *ngIf=testCaseEdit mat-raised-button color="primary" (click)="editClaim(userForm)"
                id="editBtn" style="margin-right:1%">Edit</button>
              <button *ngIf=testCaseEdit mat-raised-button color="warn" (click)="deleteClaim(userForm)"
                id="deleteBtn" style="margin-right:1%">Delete</button>
              <button *ngIf=saveduplicate mat-raised-button color="primary" (click)="saveduplicateClaim(userForm)"
                id="dupeSaveBtn">Save Duplicate</button>
            </div>
          </div>
            <p style="margin: 0; padding: 0; width: 100%" id="claimDetails">

              <mat-form-field>
                <mat-label>Testcase Name </mat-label>
                <input matInput type="text" placeholder="Testcase Name" id="claimName" formControlName="claimName"
                  (focusout)="focusOutForFormElement('claimName', $event)" readonly="{{(editing && testCaseEdit) }}">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Test Group it belongs to</mat-label>
                <mat-select formControlName="claimTestGroup" id="claimTestGroup" multiple
                  (focusout)="focusOutForFormElement('claimTestGroup', $event)">
                  <mat-option id="claimTestGroupList" *ngFor="let tescase of testcaseGroup" [value]="tescase.id">
                    {{ tescase.description}}</mat-option>
                </mat-select>
              </mat-form-field>

            </p>

            <div [hidden]="!isShowTemplate">
              <div fxLayoutAlign="end start" style="margin-top:1%">
                <button mat-raised-button color="primary" (click)="getTemplate()" id="getTemplatebtn">Get
                  Template</button>
              </div>
            </div>

          </mat-card>
        </form>
        <div [hidden]="!isShown">

          <div class="accordion-form-section">
            <app-create-template #templateInput editing="true"></app-create-template>
          </div>

        </div>
      </div>
    </mat-card>
  </div>
</div>