.app-card {
    width: 300px;
    min-height: 150px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    // &:hover {
    //     background-color: rgb(239, 241, 255);
    // }
}

.temaplates-row-css{
    width: 100%;
}

.template-header{
    height: 90%;
    padding: 8px;
}

.app-image {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.description-class {
    // height: 80px;
    font-size: 12px;
    margin-top: 10px;
    overflow: hidden;
}