
{{isLoading}}
{{ section}}
<div *ngIf=isLoading>
    <!--<div *ngFor="let column of section.rows;let i=index">
    {{ column.fieldName }}
    <ng-container *ngIf="column.type ==='label'" class=icon>
        <mat-icon>label</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.fieldName ==='Text Field'" class=icon>
        <mat-icon>text_fields</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.fieldName ==='Number'" class=icon>
        <mat-icon>filter_1</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='date'" class=icon>
        <mat-icon>today</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='select'" class=icon>
        <mat-icon>arrow_drop_down</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='multipleselect'" class=icon>
        <mat-icon>more_vert</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='textarea'" class=icon>
        <mat-icon>short_text</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='radio'" class=icon>
        <mat-icon>radio_button_unchecked</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='checkbox'" class=icon>
        <mat-icon>check_box</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='chip'" class=icon>
        <mat-icon>settings_ethernet</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='button'" class=icon>
        <mat-icon>save_alt</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='grid'" class=icon>
        <mat-icon>list</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='divider'" class=icon>
        <mat-icon>remove</mat-icon>
    </ng-container>
    <ng-container *ngIf="column.type ==='paragraph'" class=icon>
        <mat-icon>notes</mat-icon>
    </ng-container>

    <ng-container *ngIf="column.type ==='autocomplete'" class=icon>
        <mat-icon>format_indent_increase</mat-icon>
    </ng-container>

    <ng-container *ngIf="column.type ==='Divider'" class=icon>
        <mat-icon>remove</mat-icon>
    </ng-container>


</div>-->
</div>