.header {
    
    background: whitesmoke; 
    color:black;
    margin: 0%;
  
  }
  
  .menuAlign {
    direction: ltr;
    display: flex;
    outline: none;
    justify-content: end-end;
  }

  mat-form-field {
    width: 60%;
  }

  button{
    outline: none;
    border: 0;
  }

  .sidenav-container{
    min-height: 600px;
}

mat-sidenav {
    width: 130px;
    height: 100%;
}