.logo{
	width: 130px;
	height: 130px;
	background-size: cover;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	position:relative;
  }
  .user{
	input{
		padding: 10px 8px 10px 8px;
		border: none;
		border: 1px solid lightgrey;
		border-radius: 0px;
		margin-bottom: 25px;
		margin-top: 2px;
		width: 100%;
		box-sizing: border-box;
		font-family: montserrat;
		color: #2C3E50;
		font-size: 14px;
		letter-spacing: 1px	
	}
	mat-label{
		font-weight: bold;
		color:black;
	}
	
}
userProfile-css {
	width: 22px;
	height: 22px;
	background: #c2185b;
	color: white;
	//margin-top: 8px;
	line-height: normal;
	border-radius: 3px;
	font-size: 15px;
	padding-left:5px;
	padding-top: 2px;
	margin-bottom: 0px;
  }
.filter_option{
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #e1e9ff;
    color: #6993ff;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 5px;
    line-height: 25px;
	margin-left: 10px;
  }
.user{
	input:focus{
		font-weight: bold;
	}
}
  .centered {
	  position: absolute;
	  top: 80%;
	  left: 75%;
	  font-size: 30px;
	  align-items: center;
	  text-align: center;
	  margin-top: 10px;
	  margin-bottom: 10px;
	  transform: translate(-50%, -50%);
	  }
	  .centeredImage {
		  position: absolute;
		  top: 77%;
		  left: 43%;
		  font-size: 30px;
		  align-items: center;
		  text-align: center;
		  transform: translate(-50%, -50%);
		  }
  .active-list-item {
	background-color: var(--theme-main-color);
	color:#fff;
	width:98%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
  }
  
  #userDetailsTab{
	  margin-top: 20px !important;
	  
  }
  .mat-card-avatar{
  margin-top: 2px;
  }
  .chat-prof-pic{
  margin-left: 5px;
  height: 30px;
  width: 30px;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  }
  
  .circle {
  margin-left: 5px;
  margin-top: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  background: #c2c2a3;
  }
  
  .circleProfile {
  margin-top: 4px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  font-size: 40px;
  color: #fff;
  line-height: 130px;
  text-align: center;
  background: #c2c2a3;
  }
  
  .matNavStyle {
	width: 18%;
	margin: 0;
	//background-color: whitesmoke;
	overflow: hidden;
	min-height: 91.5vh;
  }
  
  .matNavStyle-web {
	margin: 0;
	background-color: whitesmoke;
	overflow: hidden;
	min-height: 91.5vh;
  }
  
  .circleIcon {
  margin-left: 80%;
  margin-top: 80%;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-bottom: 10px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  background: #f0f0eb;
  }
  
  .ctn {
  position: relative;
  text-align: center;
  color: black;
  }
  .centered {
  position: absolute;
  top: 88%;
  left: 50%;
  font-size: 30px;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: translate(-50%, -50%);
  }
  
  .centeredImage {
  position: absolute;
  top: 77%;
  left: 52%;
  font-size: 30px;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
  }
  
  @media(max-width: 600px) {
	.matNavStyle {
	width: 100%;
	margin: 0;
	background-color: #ece7e7;
	overflow: hidden;
	min-height: 27.5vh;
	}
  
	.mobile-mat-card{
		margin-left: -50px;
	}
  
	.mat-form-field{
	  width:100%;
	}
  }
  
  //ipad
  @media only screen and (max-width: 1024px) {
	.matNavStyle {
	width: 100%;
	margin: 0;
	background-color: #ece7e7;
	overflow: hidden;
	min-height: 19.5vh;
	}
  
	.mat-form-field{
	  width:100%;
	}
  }
  .justify-content-center {
	  justify-content: center!important
  }
  
  .menu-list-item:hover{
	  background-color: #dddef0;
	  color:#000;
	  border-top-right-radius: 20px;
	  border-bottom-right-radius: 20px;
	}
  #user_details .color_dev{
  background-color: #e2dfe1;
  height:200px;
  max-width: 100%;
  min-width: 100%;
  }
  .title{
	  padding-top: 75px;
	  padding-left: 50px;
  }
  .circleIcon {
	  margin-left: 80%;
	  margin-top: 80%;
	  width: 23px;
	  height: 23px;
	  border-radius: 50%;
	  margin-bottom: 10px;
	  // font-size: 15px;
	  // color: #fff;
	  line-height: 20px;
	  text-align: center;
	  align-items: center;
	  background: #f0f0eb;
	  }
  .profile_img{
	width:120px;
	height:120px;
	border-radius: 75px;
	background-repeat: no-repeat;
	background-position: center center;
	position:relative;
  }
  .column-icon-css {
	font-size: 20px;
	margin-top: 8px;
  }
  .edit_icon{
	  mat-icon{
		  cursor: pointer;
	  }
  }
  .profile_mat_card{
	// margin-top:-70px;
  }
  .profile_img_container{
	// margin-top:-10%;
  }
  
  @media only screen and (max-width: 768px) {
	  #user_details .color_dev{
		  display: none!important;
	  }
	  .profile_mat_card{
		  margin-top:10px!important;
	  }
	  .profile_img_container{
		  margin-top:10px!important;
	  }
	  #sidebar_user_setting{
		  display: none!important;
	  }
	  
	  .col-sm-12{
		  flex: 0 0 auto;
		  width:100%!important;	
	  }
  }
  @media only screen and (min-width: 769px) {
  #tabs_user_setting{
	  display: none!important;
  }
 
  }
  
  @media (min-width:768px) {
	  .col-md {
		  flex: 1 0 0%
	  }
	  .row-cols-md-auto>* {
		  flex: 0 0 auto;
		  width: auto
	  }
	  .row-cols-md-1>* {
		  flex: 0 0 auto;
		  width: 100%
	  }
	  .row-cols-md-2>* {
		  flex: 0 0 auto;
		  width: 50%
	  }
	  .row-cols-md-3>* {
		  flex: 0 0 auto;
		  width: 33.3333333333%
	  }
	  .row-cols-md-4>* {
		  flex: 0 0 auto;
		  width: 25%
	  }
	  .row-cols-md-5>* {
		  flex: 0 0 auto;
		  width: 20%
	  }
	  .row-cols-md-6>* {
		  flex: 0 0 auto;
		  width: 16.6666666667%
	  }
	  .col-md-auto {
		  flex: 0 0 auto;
		  width: auto
	  }
	  .col-md-1 {
		  flex: 0 0 auto;
		  width: 8.3333333333%
	  }
	  .col-md-2 {
		  flex: 0 0 auto;
		  width: 16.6666666667%
	  }
	  .col-md-3 {
		  flex: 0 0 auto;
		  width: 25%
	  }
	  .col-md-4 {
		  flex: 0 0 auto;
		  width: 33.3333333333%
	  }
	  .col-md-5 {
		  flex: 0 0 auto;
		  width: 41.6666666667%
	  }
	  .col-md-6 {
		  flex: 0 0 auto;
		  width: 50%
	  }
	  .col-md-7 {
		  flex: 0 0 auto;
		  width: 58.3333333333%
	  }
	  .col-md-8 {
		  flex: 0 0 auto;
		  width: 66.6666666667%
	  }
	  .col-md-9 {
		  flex: 0 0 auto;
		  width: 75%
	  }
	  .col-md-10 {
		  flex: 0 0 auto;
		  width: 83.3333333333%
	  }
	  .col-md-11 {
		  flex: 0 0 auto;
		  width: 91.6666666667%
	  }
	  .col-md-12 {
		  flex: 0 0 auto;
		  width: 100%
	  }
	  .offset-md-0 {
		  margin-left: 0
	  }
	  .offset-md-1 {
		  margin-left: 8.3333333333%
	  }
	  .offset-md-2 {
		  margin-left: 16.6666666667%
	  }
	  .offset-md-3 {
		  margin-left: 25%
	  }
	  .offset-md-4 {
		  margin-left: 33.3333333333%
	  }
	  .offset-md-5 {
		  margin-left: 41.6666666667%
	  }
	  .offset-md-6 {
		  margin-left: 50%
	  }
	  .offset-md-7 {
		  margin-left: 58.3333333333%
	  }
	  .offset-md-8 {
		  margin-left: 66.6666666667%
	  }
	  .offset-md-9 {
		  margin-left: 75%
	  }
	  .offset-md-10 {
		  margin-left: 83.3333333333%
	  }
	  .offset-md-11 {
		  margin-left: 91.6666666667%
	  }
	  .g-md-0,
	  .gx-md-0 {
		  --bs-gutter-x: 0
	  }
	  .g-md-0,
	  .gy-md-0 {
		  --bs-gutter-y: 0
	  }
	  .g-md-1,
	  .gx-md-1 {
		  --bs-gutter-x: 0.25rem
	  }
	  .g-md-1,
	  .gy-md-1 {
		  --bs-gutter-y: 0.25rem
	  }
	  .g-md-2,
	  .gx-md-2 {
		  --bs-gutter-x: 0.5rem
	  }
	  .g-md-2,
	  .gy-md-2 {
		  --bs-gutter-y: 0.5rem
	  }
	  .g-md-3,
	  .gx-md-3 {
		  --bs-gutter-x: 1rem
	  }
	  .g-md-3,
	  .gy-md-3 {
		  --bs-gutter-y: 1rem
	  }
	  .g-md-4,
	  .gx-md-4 {
		  --bs-gutter-x: 1.5rem
	  }
	  .g-md-4,
	  .gy-md-4 {
		  --bs-gutter-y: 1.5rem
	  }
	  .g-md-5,
	  .gx-md-5 {
		  --bs-gutter-x: 3rem
	  }
	  .g-md-5,
	  .gy-md-5 {
		  --bs-gutter-y: 3rem
	  }
  }
  
  @media (min-width:992px) {
	  .col-lg {
		  flex: 1 0 0%
	  }
	  .row-cols-lg-auto>* {
		  flex: 0 0 auto;
		  width: auto
	  }
	  .row-cols-lg-1>* {
		  flex: 0 0 auto;
		  width: 100%
	  }
	  .row-cols-lg-2>* {
		  flex: 0 0 auto;
		  width: 50%
	  }
	  .row-cols-lg-3>* {
		  flex: 0 0 auto;
		  width: 33.3333333333%
	  }
	  .row-cols-lg-4>* {
		  flex: 0 0 auto;
		  width: 25%
	  }
	  .row-cols-lg-5>* {
		  flex: 0 0 auto;
		  width: 20%
	  }
	  .row-cols-lg-6>* {
		  flex: 0 0 auto;
		  width: 16.6666666667%
	  }
	  .col-lg-auto {
		  flex: 0 0 auto;
		  width: auto
	  }
	  .col-lg-1 {
		  flex: 0 0 auto;
		  width: 8.3333333333%
	  }
	  .col-lg-2 {
		  flex: 0 0 auto;
		  width: 16.6666666667%
	  }
	  .col-lg-3 {
		  flex: 0 0 auto;
		  width: 25%
	  }
	  .col-lg-4 {
		  flex: 0 0 auto;
		  width: 33.3333333333%
	  }
	  .col-lg-5 {
		  flex: 0 0 auto;
		  width: 41.6666666667%
	  }
	  .col-lg-6 {
		  flex: 0 0 auto;
		  width: 50%
	  }
	  .col-lg-7 {
		  flex: 0 0 auto;
		  width: 58.3333333333%
	  }
	  .col-lg-8 {
		  flex: 0 0 auto;
		  width: 66.6666666667%
	  }
	  .col-lg-9 {
		  flex: 0 0 auto;
		  width: 75%
	  }
	  .col-lg-10 {
		  flex: 0 0 auto;
		  width: 83.3333333333%
	  }
	  .col-lg-11 {
		  flex: 0 0 auto;
		  width: 91.6666666667%
	  }
	  .col-lg-12 {
		  flex: 0 0 auto;
		  width: 100%
	  }
	  .offset-lg-0 {
		  margin-left: 0
	  }
	  .offset-lg-1 {
		  margin-left: 8.3333333333%
	  }
	  .offset-lg-2 {
		  margin-left: 16.6666666667%
	  }
	  .offset-lg-3 {
		  margin-left: 25%
	  }
	  .offset-lg-4 {
		  margin-left: 33.3333333333%
	  }
	  .offset-lg-5 {
		  margin-left: 41.6666666667%
	  }
	  .offset-lg-6 {
		  margin-left: 50%
	  }
	  .offset-lg-7 {
		  margin-left: 58.3333333333%
	  }
	  .offset-lg-8 {
		  margin-left: 66.6666666667%
	  }
	  .offset-lg-9 {
		  margin-left: 75%
	  }
	  .offset-lg-10 {
		  margin-left: 83.3333333333%
	  }
	  .offset-lg-11 {
		  margin-left: 91.6666666667%
	  }
	  .g-lg-0,
	  .gx-lg-0 {
		  --bs-gutter-x: 0
	  }
	  .g-lg-0,
	  .gy-lg-0 {
		  --bs-gutter-y: 0
	  }
	  .g-lg-1,
	  .gx-lg-1 {
		  --bs-gutter-x: 0.25rem
	  }
	  .g-lg-1,
	  .gy-lg-1 {
		  --bs-gutter-y: 0.25rem
	  }
	  .g-lg-2,
	  .gx-lg-2 {
		  --bs-gutter-x: 0.5rem
	  }
	  .g-lg-2,
	  .gy-lg-2 {
		  --bs-gutter-y: 0.5rem
	  }
	  .g-lg-3,
	  .gx-lg-3 {
		  --bs-gutter-x: 1rem
	  }
	  .g-lg-3,
	  .gy-lg-3 {
		  --bs-gutter-y: 1rem
	  }
	  .g-lg-4,
	  .gx-lg-4 {
		  --bs-gutter-x: 1.5rem
	  }
	  .g-lg-4,
	  .gy-lg-4 {
		  --bs-gutter-y: 1.5rem
	  }
	  .g-lg-5,
	  .gx-lg-5 {
		  --bs-gutter-x: 3rem
	  }
	  .g-lg-5,
	  .gy-lg-5 {
		  --bs-gutter-y: 3rem
	  }
  }
  
  @media (min-width:1200px) {
	  .col-xl {
		  flex: 1 0 0%
	  }
	  .row-cols-xl-auto>* {
		  flex: 0 0 auto;
		  width: auto
	  }
	  .row-cols-xl-1>* {
		  flex: 0 0 auto;
		  width: 100%
	  }
	  .row-cols-xl-2>* {
		  flex: 0 0 auto;
		  width: 50%
	  }
	  .row-cols-xl-3>* {
		  flex: 0 0 auto;
		  width: 33.3333333333%
	  }
	  .row-cols-xl-4>* {
		  flex: 0 0 auto;
		  width: 25%
	  }
	  .row-cols-xl-5>* {
		  flex: 0 0 auto;
		  width: 20%
	  }
	  .row-cols-xl-6>* {
		  flex: 0 0 auto;
		  width: 16.6666666667%
	  }
	  .col-xl-auto {
		  flex: 0 0 auto;
		  width: auto
	  }
	  .col-xl-1 {
		  flex: 0 0 auto;
		  width: 8.3333333333%
	  }
	  .col-xl-2 {
		  flex: 0 0 auto;
		  width: 16.6666666667%
	  }
	  .col-xl-3 {
		  flex: 0 0 auto;
		  width: 25%
	  }
	  .col-xl-4 {
		  flex: 0 0 auto;
		  width: 33.3333333333%
	  }
	  .col-xl-5 {
		  flex: 0 0 auto;
		  width: 41.6666666667%
	  }
	  .col-xl-6 {
		  flex: 0 0 auto;
		  width: 50%
	  }
	  .col-xl-7 {
		  flex: 0 0 auto;
		  width: 58.3333333333%
	  }
	  .col-xl-8 {
		  flex: 0 0 auto;
		  width: 66.6666666667%
	  }
	  .col-xl-9 {
		  flex: 0 0 auto;
		  width: 75%
	  }
	  .col-xl-10 {
		  flex: 0 0 auto;
		  width: 83.3333333333%
	  }
	  .col-xl-11 {
		  flex: 0 0 auto;
		  width: 91.6666666667%
	  }
	  .col-xl-12 {
		  flex: 0 0 auto;
		  width: 100%
	  }
	  .offset-xl-0 {
		  margin-left: 0
	  }
	  .offset-xl-1 {
		  margin-left: 8.3333333333%
	  }
	  .offset-xl-2 {
		  margin-left: 16.6666666667%
	  }
	  .offset-xl-3 {
		  margin-left: 25%
	  }
	  .offset-xl-4 {
		  margin-left: 33.3333333333%
	  }
	  .offset-xl-5 {
		  margin-left: 41.6666666667%
	  }
	  .offset-xl-6 {
		  margin-left: 50%
	  }
	  .offset-xl-7 {
		  margin-left: 58.3333333333%
	  }
	  .offset-xl-8 {
		  margin-left: 66.6666666667%
	  }
	  .offset-xl-9 {
		  margin-left: 75%
	  }
	  .offset-xl-10 {
		  margin-left: 83.3333333333%
	  }
	  .offset-xl-11 {
		  margin-left: 91.6666666667%
	  }
	  .g-xl-0,
	  .gx-xl-0 {
		  --bs-gutter-x: 0
	  }
	  .g-xl-0,
	  .gy-xl-0 {
		  --bs-gutter-y: 0
	  }
	  .g-xl-1,
	  .gx-xl-1 {
		  --bs-gutter-x: 0.25rem
	  }
	  .g-xl-1,
	  .gy-xl-1 {
		  --bs-gutter-y: 0.25rem
	  }
	  .g-xl-2,
	  .gx-xl-2 {
		  --bs-gutter-x: 0.5rem
	  }
	  .g-xl-2,
	  .gy-xl-2 {
		  --bs-gutter-y: 0.5rem
	  }
	  .g-xl-3,
	  .gx-xl-3 {
		  --bs-gutter-x: 1rem
	  }
	  .g-xl-3,
	  .gy-xl-3 {
		  --bs-gutter-y: 1rem
	  }
	  .g-xl-4,
	  .gx-xl-4 {
		  --bs-gutter-x: 1.5rem
	  }
	  .g-xl-4,
	  .gy-xl-4 {
		  --bs-gutter-y: 1.5rem
	  }
	  .g-xl-5,
	  .gx-xl-5 {
		  --bs-gutter-x: 3rem
	  }
	  .g-xl-5,
	  .gy-xl-5 {
		  --bs-gutter-y: 3rem
	  }
  }
  
  @media (min-width:1400px) {
	  .col-xxl {
		  flex: 1 0 0%
	  }
	  .row-cols-xxl-auto>* {
		  flex: 0 0 auto;
		  width: auto
	  }
	  .row-cols-xxl-1>* {
		  flex: 0 0 auto;
		  width: 100%
	  }
	  .row-cols-xxl-2>* {
		  flex: 0 0 auto;
		  width: 50%
	  }
	  .row-cols-xxl-3>* {
		  flex: 0 0 auto;
		  width: 33.3333333333%
	  }
	  .row-cols-xxl-4>* {
		  flex: 0 0 auto;
		  width: 25%
	  }
	  .row-cols-xxl-5>* {
		  flex: 0 0 auto;
		  width: 20%
	  }
	  .row-cols-xxl-6>* {
		  flex: 0 0 auto;
		  width: 16.6666666667%
	  }
	  .col-xxl-auto {
		  flex: 0 0 auto;
		  width: auto
	  }
	  .col-xxl-1 {
		  flex: 0 0 auto;
		  width: 8.3333333333%
	  }
	  .col-xxl-2 {
		  flex: 0 0 auto;
		  width: 16.6666666667%
	  }
	  .col-xxl-3 {
		  flex: 0 0 auto;
		  width: 25%
	  }
	  .col-xxl-4 {
		  flex: 0 0 auto;
		  width: 33.3333333333%
	  }
	  .col-xxl-5 {
		  flex: 0 0 auto;
		  width: 41.6666666667%
	  }
	  .col-xxl-6 {
		  flex: 0 0 auto;
		  width: 50%
	  }
	  .col-xxl-7 {
		  flex: 0 0 auto;
		  width: 58.3333333333%
	  }
	  .col-xxl-8 {
		  flex: 0 0 auto;
		  width: 66.6666666667%
	  }
	  .col-xxl-9 {
		  flex: 0 0 auto;
		  width: 75%
	  }
	  .col-xxl-10 {
		  flex: 0 0 auto;
		  width: 83.3333333333%
	  }
	  .col-xxl-11 {
		  flex: 0 0 auto;
		  width: 91.6666666667%
	  }
	  .col-xxl-12 {
		  flex: 0 0 auto;
		  width: 100%
	  }
	  .offset-xxl-0 {
		  margin-left: 0
	  }
	  .offset-xxl-1 {
		  margin-left: 8.3333333333%
	  }
	  .offset-xxl-2 {
		  margin-left: 16.6666666667%
	  }
	  .offset-xxl-3 {
		  margin-left: 25%
	  }
	  .offset-xxl-4 {
		  margin-left: 33.3333333333%
	  }
	  .offset-xxl-5 {
		  margin-left: 41.6666666667%
	  }
	  .offset-xxl-6 {
		  margin-left: 50%
	  }
	  .offset-xxl-7 {
		  margin-left: 58.3333333333%
	  }
	  .offset-xxl-8 {
		  margin-left: 66.6666666667%
	  }
	  .offset-xxl-9 {
		  margin-left: 75%
	  }
	  .offset-xxl-10 {
		  margin-left: 83.3333333333%
	  }
	  .offset-xxl-11 {
		  margin-left: 91.6666666667%
	  }
	  .g-xxl-0,
	  .gx-xxl-0 {
		  --bs-gutter-x: 0
	  }
	  .g-xxl-0,
	  .gy-xxl-0 {
		  --bs-gutter-y: 0
	  }
	  .g-xxl-1,
	  .gx-xxl-1 {
		  --bs-gutter-x: 0.25rem
	  }
	  .g-xxl-1,
	  .gy-xxl-1 {
		  --bs-gutter-y: 0.25rem
	  }
	  .g-xxl-2,
	  .gx-xxl-2 {
		  --bs-gutter-x: 0.5rem
	  }
	  .g-xxl-2,
	  .gy-xxl-2 {
		  --bs-gutter-y: 0.5rem
	  }
	  .g-xxl-3,
	  .gx-xxl-3 {
		  --bs-gutter-x: 1rem
	  }
	  .g-xxl-3,
	  .gy-xxl-3 {
		  --bs-gutter-y: 1rem
	  }
	  .g-xxl-4,
	  .gx-xxl-4 {
		  --bs-gutter-x: 1.5rem
	  }
	  .g-xxl-4,
	  .gy-xxl-4 {
		  --bs-gutter-y: 1.5rem
	  }
	  .g-xxl-5,
	  .gx-xxl-5 {
		  --bs-gutter-x: 3rem
	  }
	  .g-xxl-5,
	  .gy-xxl-5 {
		  --bs-gutter-y: 3rem
	  }
  }

  .edit_icon_delete{
      margin-top:3px;
	  font-size: 15px!important;
	  margin-left: -15px;
  }
  .edit_icon_pen{
	  margin-top:10px;
	font-size: 13px!important;
}

.circle-class-avatar{
	width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 15px 0 0 10px;
    cursor: pointer;
}

.circle-class-workspace{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	line-height: 50px;
	text-align: center;
}

.done-css{
	font-size: 13px;
    color: white;
    margin: 3px;
}
