<div>
  <form [formGroup]="form" #userForm="ngForm">
    <mat-horizontal-stepper #stepper id="taskboard-horizontalStepper">
      <mat-step *ngIf="data.fromScratch">
        <div fxLayout="row" fxLayoutAlign="space-between center"
          style="border-bottom: 1px solid lightgray; display: inline-block">
          <span style="margin-left:15px;font-size: 18px;font-weight: bold;" i18n="Start from scratch">Start from
            scratch</span>
          <mat-icon id="clear" style="cursor: pointer" fxLayoutAlign="end" [mat-dialog-close]="true">clear</mat-icon>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" id=category-column>
            <span class="category-label-css" i18n="Categories">Categories</span>
            <ng-container *ngFor="let category of templatesCategoriesArray;let i = index;">
              <button mat-button color="primary" class="category-button-css" (click)="onCategorySelected(category)"
                [style.color]="category.isSelected?'#039be5':'black'"
                [style.background]="category.isSelected?'#e5f4ff':''" [id]="'category_button_'+i">
                <mat-icon *ngIf="category.icon" [style.color]="category.color" class="categories_icons">
                  {{category.icon}}</mat-icon>
                <span>{{category.name | translate}}</span>
              </button>
            </ng-container>
          </div>
          <div fxLayout="column" style="width:87%">
            <mat-card class="card-css" appMaterialElevation defaultElevation=4 raisedElevation=16
              (click)="createTaskboard()" id="scratch">
              <h2 style="font-family: Arial;text-align: center" i18n="Create new taskboard from scratch">Create new
                taskboard from scratch</h2>
            </mat-card>
            <ng-conatiner *ngFor="let category of selectedTemplatesWithCategory; let i = index">
              <div fxLayout="row" class="categoryName-header-css">
                <span class="category-headerName-css">{{category.category | translate}}</span>
                <span class="categoryName-heading-border-css"></span>
              </div>
              <div fxLayout="row wrap">
                <ng-conatiner *ngFor="let templates of category.templates; let j = index">
                  <div class="category-automation-card" (click)="selectedTemplate(templates)" [id]="'template_'+i+'_'+j"
                    appMaterialElevation defaultElevation=4 raisedElevation=16>
                    <h3>{{templates.templateName}}</h3>
                    <div style="font-weight: 100;color:grey" fxLayout="row" fxLayoutGap="10px">
                      <mat-icon class="description-icon-css">description</mat-icon>
                      <span class="fs_12">{{
                        (templates.description.length>300) ?
                        (templates.description |
                        slice:0:300)+'..':(templates.description) }} </span>
                    </div>
                  </div>
                </ng-conatiner>
              </div>
            </ng-conatiner>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <div fxLayout="row" fxLayoutAlign="space-between center"
          style="border-bottom: 1px solid #d3d3d3; display: inline-block">
          <h2 class="mt-3" i18n="Taskboard Configuration">Taskboard Configuration</h2>
          <mat-icon id="clear" style="cursor: pointer" fxLayoutAlign="end" (click)="closeDialog()">clear</mat-icon>
          <!-- [mat-dialog-close]="true" -->
        </div>
        <ng-container style="display: block" fxLayout="column">
          <!-- <perfect-scrollbar class="scroll" [config]="config" style="height:450px;"> -->
          <mat-dialog-content>
            <section fxLayout="column" fxLayoutGap="5px" class="topalign">
              <mat-form-field style="width: 100%" appearance="outline" class="outline-class">
                <mat-label i18n="Taskboard Name">Taskboard Name</mat-label>
                <input (focusout)="checkTaskboardNameExist()" matInput placeholder="Enter Name"
                  i18n-placeholder="Enter Name" formControlName="name" id="name" />
                <mat-error id="nameRequired" *ngIf="form.get('name').errors?.required"
                  i18n="Taskboard Name is required">
                  Taskboard Name is required</mat-error>
                <mat-error id="nameAlreadyExist" *ngIf="form.get('name').errors?.alreadyExist"
                  i18n="Taskboard Name is Already Exist">
                  Taskboard Name is Already Exist</mat-error>
              </mat-form-field>
            </section>
            <section fxLayout="column" fxLayoutGap="5px" class="topalign">
              <mat-form-field style="width: 100%" class="legacy" appearance="outline">
                <mat-label i18n="Taskboard Key">Taskboard Key</mat-label>
                <input matInput placeholder="Enter Taskboard Key" i18n-placeholder="Enter Taskboard Key"
                  formControlName="taskboardKey" id="name" #input [value]="input.value.toUpperCase()" />
                <mat-error id="taskboardKeyRequired" *ngIf="form.get('taskboardKey').errors?.required"
                  i18n="Taskboard Key is required">
                  Taskboard Key is required</mat-error>
                <mat-error id="taskboardKeyAlreadyExist" *ngIf="form.get('taskboardKey').errors?.alreadyExist"
                  i18n="Taskboard Key is Already Exist">
                  Taskboard Key is Already Exist</mat-error>
              </mat-form-field>
            </section>
            <div fxLayout="column" fxLayoutGap="1px" style="margin-top: 5px;">
              <mat-form-field style="width: 100%" appearance="outline" class="outline-class">
                <mat-label i18n="Taskboard Description">Taskboard Description</mat-label>
                <textarea matInput placeholder=" Enter Description" formControlName="description"
                  id="description"></textarea>
                <mat-error id="nameRequired" *ngIf="form.get('description').errors?.required"
                  i18n="Description is required">
                  Description is required</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 10px">
              <div matPrefix [style.background]="circleTodo" class="circle_progress"></div>
              <mat-icon>arrow_forward</mat-icon>
              <ng-container *ngFor="let control of getprogressArray().controls; let i = index">
                <div *ngIf="todoIndex!==i && doneIndex!==i" matPrefix
                  [style.background-color]="control.get('columnColor').value" class="circle_progress">
                </div>
              </ng-container>
              <mat-icon>arrow_forward</mat-icon>
              <div matPrefix class="circle_progress" [style.background]="circleDone"></div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" style="margin-top: 10px">
              <mat-form-field style="width: 100%" appearance="outline" id="progress_bar">
                <div matPrefix [style.background]="circleTodo" class="circle_progress"></div>
                <input matInput formControlName="todo" id="todo" class="text-capitalize" />
              </mat-form-field>
            </div>
            <section fxLayout="row" fxLayoutAlign="center center">
              <mat-icon>arrow_downward</mat-icon>
            </section>
            <div cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
              <ng-container formArrayName="taskboardColumns" class="example-list"
                *ngFor="let control of getprogressArray().controls; let i = index">
                <div [formGroupName]="i" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="center center">
                  <mat-form-field *ngIf="todoIndex!==i && doneIndex!==i" style="width: 100%; margin-right: 15px"
                    appearance="outline" [id]="'progress_bar_'+i" cdkDrag [style.height]="control.errors? '70px' : ''">
                    <div fxLayout="row" style="cursor: move" fxLayoutGap="10px">
                      <mat-icon cdkDragHandle class="drag-icon-css">open_with</mat-icon>
                      <div matPrefix [style.background-color]="control.get('columnColor').value"
                        class="circle_progress">
                      </div>
                      <input style="border: none; outline: none; margin-left: 5px" matInput type="text"
                        (blur)="checkProgressBarNameExist(i, control)" formControlName="columnName"
                        [id]="'progress_'+i" />
                      <mat-icon [id]="'removeIcon_'+i" (click)="removeProgressbar(i)" matSuffix style="cursor: pointer">
                        highlight_off
                      </mat-icon>
                    </div>
                    <mat-error *ngIf="form.get('taskboardColumns').controls[i].controls
                      .columnName?.touched && form.get('taskboardColumns').controls[i].controls
                          .columnName?.errors?.required" i18n="Column Name is required">Column Name is required
                    </mat-error>
                    <mat-error id="nameAlreadyExist"
                      *ngIf="form.get('taskboardColumns').controls[i].controls
                            .columnName?.errors?.alreadyExist === true ||!form.get('todo').value || !form.get('done').value"
                      i18n="Column Name Already Exist">
                      Column Name Already Exist</mat-error>
                  </mat-form-field>
                </div>

              </ng-container>
            </div>
            <section fxLayout="row" fxLayoutAlign="center center" style="margin-top: 5px">
              <button [disabled]="!isTaskboardRead && !isTaskboardupdate" id="btnAdd" type="button" mat-raised-button
                (click)="addProgressBar()">
                <mat-icon>add</mat-icon>
                {{'Add new step' | translate}}
              </button>
            </section>
            <section fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px">
              <mat-icon>arrow_downward</mat-icon>
            </section>
            <div fxLayout="row" fxLayoutGap="1px" fxLayoutAlign="center center">
              <mat-form-field style="width: 100%" appearance="outline">
                <div matPrefix class="circle_progress" [style.background]="circleDone"></div>
                <input matInput formControlName="done" id="done" style="width: 100%" />
              </mat-form-field>
            </div>
          </mat-dialog-content>
          <!-- </perfect-scrollbar> -->
          <mat-dialog-actions fxLayoutAlign="end end">
            <button *ngIf="isFromtemplate===true" id="previousBtn" [disabled]="!isTaskboardRead" mat-raised-button
              color="primary" (click)="loadPrevious()" i18n="Previous">
              Previous
            </button>
            <button *ngIf="isFromtemplate===false" id="cancelBtn" [mat-dialog-close]="true" mat-raised-button
              color="primary" i18n="Cancel">
              Cancel
            </button>
            <button id="nextBtn" matStepperNext mat-raised-button color="accent" [disabled]="!form.get('name').value || (this.form.get('taskboardKey').value || '').trim().length === 0 || (this.form.get('description').value || '').trim().length === 0 || !form.get('taskboardKey').value || !form.get('description').value || form.get('name').errors?.alreadyExist || showError === true || form.get('taskboardColumns').invalid
              || (!isTaskboardRead)" i18n="Next">
              Next
            </button>


          </mat-dialog-actions>
        </ng-container>
      </mat-step>

      <mat-step>
        <div fxLayout="row" fxLayoutAlign="space-between center"
          style="border-bottom: 1px solid lightgray; display: inline-block">
          <h2 mat-dialog-title class="mt-3" i18n="Taskboard - Form Selection">Taskboard - Form Selection</h2>
          <mat-icon id="clear" mat-dialog-close style="cursor: pointer" fxLayoutAlign="end">clear</mat-icon>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 8%">
          <mat-form-field *ngIf="isFromtemplate" style="width: 100%" appearance="outline">
            <mat-label i18n="Form Name">Form Name</mat-label>
            <input matInput id="formName" placeholder="Form Name *" formControlName="formName"
              (focusout)="foucusoutFormName()" />
            <mat-error *ngIf="form.get('formName').errors?.required" i18n="Form Name is required">Form name is required
            </mat-error>
            <mat-error *ngIf="form.get('formName').errors?.alreadyExist" i18n="Form Name already exist">Form name
              already exist</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label i18n="Form Identifier *">Form Identifier *</mat-label>
            <input matInput id="formId" placeholder="Form Identifier *" formControlName="formId" readonly />
            <mat-error i18n="Form Identifier is required">Form identifier is required</mat-error>
          </mat-form-field>
          <mat-form-field style="width: 33%; display: none">
            <input matInput id="formVersion" placeholder="Form Version" i18n-placeholder="Form Version"
              formControlName="formVersion" readonly />
          </mat-form-field>
        </div>
        <div fxLayout="row" *ngIf="isPublicform === true ||(publicFormUrl !== '' && isPublicform !== false) "
          class="mb-3">
          <div style="width: 100%">
            <a id="publicFormURL" style="color: hsl(234, 75%, 52%);">{{
              publicFormUrl
              }}</a>
          </div>

          <mat-icon matTooltip="Copy URL" id="copyToClipboard" ngxClipboard *ngIf="publicFormUrl"
            (click)="copyToClipboard()" class="float-right mr-2" style="cursor: pointer;font-size: 20px;">content_copy
          </mat-icon>

          <mat-icon matTooltip="Open in new tab" id="copyToClipboard" ngxClipboard *ngIf="publicFormUrl"
            (click)="openInNewTab(publicFormUrl)" class="float-right" style="cursor: pointer;font-size: 20px;">
            open_in_new
          </mat-icon>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="!isFromtemplate">
          <mat-button-toggle-group id="selectForm">
            <mat-button-toggle id="starttask_create/select" class="split-button-1" style="width: 100%"
              i18n="Create/Select">Create/Select
            </mat-button-toggle>
            <mat-button-toggle value="left" id="starttask_split_arrow" class="split-button-1 drop-down-button"
              [matMenuTriggerFor]="dropdownMenuOne">
              <mat-icon>arrow_drop_down</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-menu #dropdownMenuOne="matMenu">
            <button mat-menu-item id="createForm" (click)="clickEvent()" i18n="Create New Form">
              Create New Form
            </button>
            <button mat-menu-item id="createForm" (click)="createPublicform()" i18n="Create New Public Form">
              Create New Public Form
            </button>
            <button mat-menu-item id="selectExistForm" (click)="selectEvent()" i18n="Select Existing Form">
              Select Existing Form
            </button>
            <button
              *ngIf="(form.get('formId').value !== null && form.get('formId').value !== '' &&  form.get('formId').value !== undefined)"
              mat-menu-item (click)="edit_Form()" i18n="Edit Form">
              Edit Form
            </button>
          </mat-menu>
        </div>
        <ng-container formArrayName="taskboardColumns" class="topalign taskboardColumns"
          *ngFor="let control of getStepperArray().controls; let i = index">
          <div style="display: none" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center"
            [formGroupName]="i">
            <mat-form-field style="width: 50%; display: none" appearance="outline">
              <input matInput id="stepper" formControlName="columnName" />
            </mat-form-field>
            <mat-form-field style="width: 50%; display: none" appearance="outline">
              <input matInput id="formid" formControlName="formId" />
            </mat-form-field>
          </div>
        </ng-container>
        <ng-container *ngIf="showSelectionFormList">
          <confirmation-dialog-component [newlyBuildSelectMenu]="newlyBuildedForm" [selectedForm]="'selectForm'"
            [type]="type" [version]="true" (sendSelectedPageId)="receivedPageId($event)"
            (sendPublicForm)="receivePublicForm($event)" (publicForm)="getPublicForm($event)">
          </confirmation-dialog-component>
        </ng-container>
        <div *ngIf="enableFieldMapping">
          <ng-container>
            <mat-card-title style="padding-top: 2%;">{{'Initial Values' | translate}}</mat-card-title>
            <div class="row w-100">
              <div class="col-md-12 pr-0">
                <table style="width: 100%;">
                  <tr>
                    <th>
                      <mat-label class="fs_12" style="font-weight: 500;">{{'Form Controls' | translate}}</mat-label>
                    </th>
                    <th>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-label class="fs_12" style="font-weight: 500; padding-top: 5px;">{{'Assign Values From
                          Fields' | translate}}
                        </mat-label>
                      </div>
                    </th>
                  </tr>
                  <tr *ngFor="let field of fieldsListForMapping">
                    <ng-container *ngIf="field.repeatableFieldId === null">
                      <ng-container formGroupName="fieldMapping">
                        <td>
                          <div fxLayout="row">
                            <mat-icon class="mr-1 f_21 pt-1" [style.color]="field.color">
                              {{getIcon(field)}}
                            </mat-icon>
                            <span class="f_12 mt-8">{{field.fieldName}}</span>
                          </div>
                        </td>
                        <td>
                          <div fxLayout="row">
                            <input matInput placeholder="{{'Variable' | translate}}" [id]="'fieldName_'+i" readonly
                              class="border-css" [value]="form.get('fieldMapping').get(field.fieldId).value">
                            <button mat-icon-button [matMenuTriggerFor]="menu1" #menuTrigger1="matMenuTrigger"
                              class="float-right" (mousedown)="mousedown(field)"
                              aria-label="Example icon-button with a menu" type="button">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                          </div>
                        </td>
                      </ng-container>
                    </ng-container>

                  </tr>

                  <!-- </ng-container> -->

                </table>
              </div>
            </div>
          </ng-container>
        </div>

        <div fxLayout="row" fxLayoutAlign="end" class="mt-3">
          <button id="previousBtn" mat-raised-button matStepperPrevious color="primary" class="mr-2" i18n="Previous">
            Previous
          </button>
          <button mat-raised-button color="accent" id="nextBtn" i18n="Next"
            [disabled]="(form.get('formId').value===null || form.get('formId').value==='' ||  form.get('formId').value===undefined)"
            (click)="saveNext($event)">
            Next
          </button>
        </div>
      </mat-step>
      <mat-step>
        <div fxLayout="row" fxLayoutAlign="space-between center"
          style="border-bottom: 1px solid lightgray; display: inline-block">
          <h2 mat-dialog-title class="mt-3" i18n="Taskboard - Task ID">Taskboard - Task ID</h2>
          <mat-icon id="clear" mat-dialog-close style="cursor: pointer" fxLayoutAlign="end">clear</mat-icon>
        </div>

        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 8%">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label i18n="Launch Button Name">Launch Button Name</mat-label>
            <input matInput formControlName="launchButtonName" id="launchButtonName" />
            <mat-error *ngIf="form.get('launchButtonName').errors?.required" i18n="Launch Button Name is required">
              Launch Button Name is required</mat-error>

          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 8%">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Generated Task Id</mat-label>
            <input matInput formControlName="generatedTaskId" id="generatedTaskId" />
            <mat-error *ngIf="form.get('generatedTaskId').errors?.required" i18n="Generated Task Id is required">
              Generated Task Id is required</mat-error>
            <mat-error *ngIf="form.get('generatedTaskId').errors?.alreadyExist"
              i18n="Generated Task Id is Already Exist">Generated Task Id is Already Exist
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" class="mt-2">
          <mat-slide-toggle formControlName="sprintEnabled" color="accent" (change)="openSprintSettings($event)">Enable
            Sprint
          </mat-slide-toggle>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 8%">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label i18n="Task Name for Mapping">Task Title</mat-label>
            <mat-select id="taskName" formControlName="taskName">
              <!-- <mat-option value="generatedTaskId">Generated Task Id
              </mat-option> -->
              <mat-option [value]="arr.name" *ngFor="let arr of tempArray; let i = index">{{ arr.labelName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxLayoutAlign="center" i18n="To better identify tasks in this board, you can give them a unique ID">
            To better identify tasks in this board, you can give them a unique ID
            <br />
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxLayoutAlign="center">
            {{'If the Task ID for a taskboard is' | translate}} "{{ form.get('generatedTaskId').value }}",
            {{'then the Task ID for the task would be' | translate}}
            {{ form.get('generatedTaskId').value }}-001.
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end" class="mt-3">
          <button id="lastPreviousBtn" mat-raised-button matStepperPrevious color="primary" class="mr-2"
            i18n="Previous">
            Previous
          </button>
          <button id="save" mat-raised-button matStepperNext (click)="save(userForm)" color="accent" i18n="Save"
            [disabled]="!form.valid" *ngIf="editForm === false">
            Save
          </button>
          <button id="update" mat-raised-button matStepperNext (click)="save(userForm)" color="accent"
            [disabled]="!form.valid || !isTaskboardupdate" *ngIf="editForm === true && isFromtemplate===false"
            i18n="Update Taskboard">
            Update Taskboard
          </button>
          <button id="update" mat-raised-button matStepperNext (click)="save(userForm)" color="accent"
            [disabled]="form.get('generatedTaskId').errors?.length>0" *ngIf="editForm === true && isFromtemplate===true"
            i18n="Save Taskboard">
            Save Taskboard
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>

<mat-menu #menu1="matMenu" class="column-menu">
  <div class="row mx-0  w-100" (click)="$event.stopPropagation()">
    <!-- <div class="col-md-6 pr-1">
          <p class="text-dark font-weight-bold mb-2" i18n="Constant">Constant</p>
      </div> -->
  </div>
  <div fxLayout="row" (click)="$event.stopPropagation()">
    <p class="pl-3 text-dark font-weight-bold mb-2" i18n="Page Field">
      Page Field</p>
    <hr class="hr_style_pagefield">
  </div>
  <button mat-menu-item class="px-0" (click)="setPageFieldValue('')">
    <span fxLayoutAlign="end" style="margin-right: 10px;" i18n="(empty)">(empty)</span>
  </button>
  <div class="row mx-0  w-100" (click)="$event.stopPropagation()">
    <div class=" col-md-12 mx-0 w-100" *ngFor="let field of fieldList" style="margin-top:10px;">
      <p class="text-dark font-weight-bold mb-2">{{field.fieldType}}</p>
      <div *ngFor="let value of field.fieldVO">
        <button mat-menu-item class="px-0" (click)="setPageFieldValue(value.fieldId)">
          <mat-icon class="mr-1 f_20 pt-1" [style.color]="value.color">{{getIcon(value)}}</mat-icon>
          <span>{{value.fieldName}}</span>
        </button>
      </div>
    </div>
  </div>
</mat-menu>
<mat-menu #menu2="matMenu" class="column-menu">
  <div fxLayout="row" (click)="$event.stopPropagation()">
    <p class="pl-3 text-dark font-weight-bold mb-2" i18n="Page Field">
      Page Field</p>
    <hr class="hr_style_pagefield">
  </div>
  <button mat-menu-item class="px-0" (click)="setRepeatableFieldValue('')"></button>
  <div class="row mx-0  w-100" (click)="$event.stopPropagation()">
    <div class=" col-md-12 mx-0 w-100" *ngFor="let field of fieldList" style="margin-top:10px;">
      <p class="text-dark font-weight-bold mb-2">{{field.fieldType}}</p>
      <div *ngFor="let value of field.fieldVO">
        <button mat-menu-item class="px-0" (click)="setRepeatableFieldValue(value.fieldId)">
          <mat-icon class="mr-1 f_20 pt-1" [style.color]="value.color">{{getIcon(value)}}</mat-icon>
          <span>{{value.fieldName}}</span>
        </button>
      </div>
    </div>
  </div>

</mat-menu>
<!-- <mat-menu #menu3="matMenu" class="column-menu">
  <div class="row mx-0  w-100" (click)="$event.stopPropagation()"
    *ngIf="selectedField && selectedField.datatype !== 'array'">
    <div class="col-md-6 pr-1">
      <p class="text-dark font-weight-bold mb-2" i18n="Constant">Constant</p>
    </div>
    <div class="col-md-12 pl-2 pr-1">
      <div fxLayout="row" id="search">
        <div class="input-group mb-3 px-2">
          <ng-container *ngIf="selectedField && selectedField.datatype!=='date'">
            <input [type]="getFieldType()" formControlName="constantValue" class="form-control"
              placeholder="Variable value" i18n-placeholder="Variable value">
          </ng-container>
          <ng-container *ngIf="selectedField && selectedField.datatype==='date'">
            <input matInput [matDatepicker]="picker" formControlName="constantValue" class="form-control"
              placeholder="Variable value" i18n-placeholder="Variable value">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </ng-container>
          <div class="input-group-append">
            <span class="input-group-text">
              <mat-icon matSuffix style="cursor: pointer;" (click)="setRepetableConstantValue(field)">done
              </mat-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" (click)="$event.stopPropagation()" *ngIf="selectedField && selectedField.datatype !== 'array'">
    <hr class="hr_style">
    <span i18n="OR">
      OR
    </span>
    <hr class="hr_style">
  </div>
  <div fxLayout="row" (click)="$event.stopPropagation()">
    <p class="pl-3 text-dark font-weight-bold mb-2" i18n="Page Field">
      Page Field</p>
    <hr class="hr_style_pagefield">
  </div>
  <button mat-menu-item class="px-0" (click)="setRepeatablePageFieldValue('')">
    <span fxLayoutAlign="end" style="margin-right: 10px;" i18n="(empty)">(empty)</span>
  </button>
  <div class="row mx-0  w-100" (click)="$event.stopPropagation()">
    <div class=" col-md-12 mx-0 w-100" *ngFor="let field of initialFieldList" style="margin-top:10px;">
      <p class="text-dark font-weight-bold mb-2">{{field.fieldType}}</p>
      <div *ngFor="let value of field.fieldVO">
        <button mat-menu-item class="px-0" (click)="setRepeatablePageFieldValue(value.fieldId)">
          <mat-icon class="mr-1 f_20 pt-1" [style.color]="value.color">{{getIcon(value)}}</mat-icon>
          <span>{{value.fieldName}}</span>
        </button>
      </div>
    </div>
  </div>
</mat-menu> -->