.example-container {
  width: 250px;
  max-width: 100%;
  background: whitesmoke;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;

}

.example-list {
  border: solid 1px #ccc;
  min-height: 500px;
  background: whitesmoke;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border: 1px solid  rgba(20, 20, 20, 0.062);

  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 3px;


  // padding: 2px 2px;
  // border: solid 1px #ccc;
  // /* color: rgba(0, 0, 0, 0.87); */
  // width: 83px;
  // align-items: center;
  // justify-content: space-between;
  // box-sizing: border-box;
  // cursor: move;
  // background: white;
  // font-size: 12px;
  // margin: 9px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cardList {
  display: block;
  background-color: whitesmoke;
  // margin: 25px 25px 25px 0;
  color: black;
}

.mat-mini-fab  {
  height: 30px;
  width: 30px;
}

.mat-icon{
    font-size: 16px;
}
.cardListItem {
  flex:0 1 calc(25% - 32px);
  display: block;
  padding: 12px;
  border: 5px solid  rgba(20, 20, 20, 0.062);
  border-radius: 2px;
}

.page-content {
  height:550px;
  width:2000px;
  overflow-y: scroll;
  overflow-x: scroll;
}

span {
  padding-left:15px;
}