<br />
<br />
<div style="margin-top: 12%;">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50%">
      <mat-card>
        <mat-card-title style="margin-bottom:5%">
           <img src="../../../assets/icons/access-denied.png" alt="" style="width: 50px;" /> 
        </mat-card-title>
        <div class="accordion-form-section">
        </div>
        <div fxLayout="column" style="padding: 2%;" fxLayoutAlign="center center">
          <h2  class="access" >Access Denied!</h2>
          <p>You do not have access to this page</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>