
mat-form-field {
    width: 100%;
    font-size: 15px;
  }

mat-card-title{
    margin: -2.5%;
     height:50px;
     text-align: center;
    
}
img{
    margin-top: 10px;
}
.access{
    color:#21215A ;
    font-size: 30px;
    font-weight: bolder;
}