.available-apps{
  margin: 0.1%; display: inline-block; width: 30.5%;
   }

   .button-toggle{
     background-color: #e9e9e9;
     color:rgb(56, 149, 255);
   }

   .light-button {
    height: 35px;
    /* width: 150px; */
    /* font-size: 110%; */
    border: 1px solid rgb(56, 149, 255) !important;
    border-radius: 15px;
  }

  .disable-button {
    height: 35px;
    /* width: 150px; */
    /* font-size: 110%; */
    border: 1px solid rgb(104, 104, 104) !important;
    border-radius: 15px;
  }

  .mat-mini-fab  {
    height: 30px;
    width: 30px;
  }

.mat-icon{
    font-size:16px ;
}

.header-image {
    background-image: url('/assets/images/product-logo.png');
    background-size: cover;
  }

  div.pn:nth-child(2n){
    background-color:rgb(240, 243, 245);
    height:65px;
}
div.pn:nth-child(2n+1){
    background-color:rgb(202, 220, 231);
    height:65px;
}

/* ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 160px !important;
} */