<div fxLayout="row" fxLayoutAlign="space-around center" style="margin:1%">
    <div fxFlex="100%">
        <mat-card style="background-color:rgb(154, 199, 212)">
            <div class="accordion-form-section">
                <div fxLayoutAlign="space-between center" style="margin-top:1%">
                    <mat-form-field style="width: 70%">
                        <mat-label for="templateNameList">
                            Template Names
                        </mat-label>
                       
                        <mat-select id="templateNameList" #inputSearchValue>
                        
                            <mat-option id="templateOption" [value]="template.id"
                                (onSelectionChange)="loadTemplateInfo($event)" *ngFor="let template of response">
                                {{template.templateName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div fxLayoutAlign="end center">

                        <button *ngIf="deleteButtonVisible" id="duplicateButton" mat-raised-button color="primary"
                            (click)="duplicateTemplate()" style="margin-right:2%">Duplicate</button>
                        <button *ngIf="deleteButtonVisible" id="editButton" mat-raised-button color="primary"
                            (click)="editTemplate($event)" style="margin-right:2%">Edit</button>
                        <button *ngIf="deleteButtonVisible" id="deleteButton" mat-raised-button color="warn"
                            (click)="deleteTemplate(inputSearchValue.value)">Delete</button>

                    </div>
                </div>

                <app-create-template #templateInput editing="true"></app-create-template>
            </div>
        </mat-card>
    </div>
</div>