#subscription ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 12px 5px 7px 5px !important;
    border: 5px !important;
  }
  
  #subscription
    ::ng-deep
    .mat-form-field-flex
    > .mat-form-field-infix
    .mat-form-field-appearance-outline
    .mat-form-field-suffix {
    top: 0.45em;
  }
  
  #subscription ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
    margin-top: 4px;
  }
  
  #subscription ::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
    top: -17px;
  }

  .paid-css{
    margin-top: 3%;
  }