<form [formGroup]="form" #userForm="ngForm" class="w-100">
    <mat-card *ngIf="isInviteUser || isInactivateUser || isReactivateUser" class="w-100">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title *ngIf="isInviteUser === false" class="pb-2">
                {{'User Information' | translate}} </mat-card-title>

            <mat-card-title *ngIf="isInviteUser === true" class="pb-2">
                {{'Invite User' | translate}} </mat-card-title>

            <mat-icon id="close" (click)="cancel()" class="cursor" style="cursor: pointer;">close</mat-icon>
        </div>

        <div class="row mx-0 w-100">
            <input type="hidden" id="userId" name="userId" formControlName="userId" />
            <div class="col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{'Login Email' | translate}}</mat-label>
                    <input matInput type="text" formControlName="emailId" name="email" id="email" required
                        placeholder="{{'Login Email' | translate}}" [disabled]="form.get('emailId')">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error class="text-danger" id="emailRequired" *ngIf="form.get('emailId').errors?.required
         &&(userForm.submitted || form.get('emailId').touched || form.get('emailId').dirty)">
                        {{'Login Email is required' | translate}}
                    </mat-error>
                    <mat-error class="text-danger" id="emailValid" *ngIf="form.get('emailId').errors?.email
         &&(userForm.submitted || form.get('emailId').touched || form.get('emailId').dirty)">
                        {{'Login Email is not valid' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{'Contact Email' | translate}}</mat-label>
                    <input matInput type="text" formControlName="contactEmailId" name="contactEmailId"
                        id="contactEmailId" required placeholder="{{'Contact Email' | translate}}">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error class="text-danger" id="emailRequired" *ngIf="form.get('contactEmailId').errors?.required
         &&(userForm.submitted || form.get('contactEmailId').touched || form.get('contactEmailId').dirty)">
                        {{'Contact Email is required' | translate}}
                    </mat-error>
                    <mat-error class="text-danger" id="emailValid" *ngIf="form.get('contactEmailId').errors?.email
         &&(userForm.submitted || form.get('contactEmailId').touched || form.get('contactEmailId').dirty)">
                        {{'Contact Email is not valid' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mx-0 w-100">
            <div class="col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{'First Name' | translate }}</mat-label>
                    <input matInput type="text" formControlName="firstName" name="firstName" id="firstName" required
                        placeholder="{{'First Name' | translate }}">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error class="text-danger" id="firstNameRequired"
                        *ngIf="form.get('firstName').errors?.required
                                       &&(userForm.submitted || form.get('firstName').touched || form.get('firstName').dirty)">
                        {{'First Name is required' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{'Last Name' | translate}}</mat-label>
                    <input matInput type="text" formControlName="lastName" name="lastName" id="lastName" required
                        placeholder="{{'Last Name' | translate}}">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error class="text-danger" id="lastNameRequired"
                        *ngIf="form.get('lastName').errors?.required
                                  &&(userForm.submitted || form.get('lastName').touched || form.get('lastName').dirty)">
                        {{'Last Name is required' | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mx-0 w-100">
            <div class="col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{'Associate user with team' | translate}}</mat-label>
                    <mat-select id="groupId" formControlName="groupId" multiple [disabled]="isLoadUser">
                        <mat-option (onSelectionChange)="changeGroup($event)" *ngFor="let group of groupList"
                            [value]="group.id">
                            {{group.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{'Associate user with roles' | translate}}</mat-label>
                    <mat-select id="roleId" formControlName="roleId" multiple [disabled]="isLoadUser">
                        <mat-option (onSelectionChange)="changeRoles($event)" *ngFor="let role of rolesList"
                            [value]="role.id">
                            {{role.rolesNames}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row mx-0 w-100">
            <div class="col-md-6 col-sm-12">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>{{'Contact Mobile Number' | translate}}</mat-label>
                    <input matInput type="number" id="mobileNumber" formControlName="mobileNumber">
                    <mat-icon matSuffix>contact_phone</mat-icon>
                    <mat-error class="text-danger" id="mobilePattern" *ngIf="form.get('mobileNumber').errors?.pattern">
                        {{'Mobile number is not valid' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row w-100" *ngIf="isInviteUser">
            <h4 class="mt-4 mx-3"><b i18n="Avatar">Avatar</b></h4>
            <div class="row w-100 mx-4">
                <div class="circle-class-avatar" *ngFor="let color of avatarColors" [style.background]="color"
                    (click)="changeAvatarColor(color)">
                    <mat-icon *ngIf="color=== form.get('color').value" class="done-css">done</mat-icon>
                </div>
            </div>
        </div>
        <mat-card-actions *ngIf="isInviteUser===false">
            <div class="row mx-0 w-100 justify-content-end">
                <div class="mr-3">
                    <button [disabled]="form.pristine===true"
                        *ngIf="this.data && this.data.user && this.data.user.activeFlag==='Y'" mat-raised-button
                        color="primary" type="button" id="saveChanges" class="resetbutton"
                        (click)="saveChanges()">{{'Save Changes' | translate}}</button>
                </div>
                <div *ngIf="isTwoFactor" class="mr-3">
                    <button [disabled]="form.pristine===false" mat-raised-button color="primary" type="button"
                        id="resetTwoFactor" class="resetbutton" (click)="resetTwoFactor()">{{'Reset Two Factor' |
                        translate}}</button>
                </div>
                <div *ngIf="this.data && this.data.user && this.data.user.activeFlag==='Y' && this.data.user.lastLogin === null"
                    class="mr-3">
                    <button [disabled]="form.pristine===false" mat-raised-button color="primary" type="submit"
                        id="resendInvite" class="resetbutton" (click)="submit(userForm)">{{'Resend invite' |
                        translate}}</button>
                </div>
                <div *ngIf="isInactivateUser" class="mr-3">
                    <button [disabled]="form.pristine===false" mat-raised-button color="primary" type="submit"
                        id="btndeactivate" class="resetbutton" (click)="deactivateUser(userForm)">{{'Inactivate User' |
                        translate}}</button>
                </div>
                <div *ngIf="isReactivateUser" class="mr-3">
                    <button mat-raised-button color="primary" id="btnReactivate" class="resetbutton"
                        (click)="deactivateUser(userForm)">{{'Reactivate User' | translate}}</button>
                </div>
                <button [disabled]="form.pristine===false"
                    *ngIf="this.data && this.data.user && this.data.user.activeFlag==='Y' && this.data.user.lastLogin"
                    mat-raised-button class="mr-3" id="resetPassword" color="primary" type="button"
                    (click)="changePassword(userForm)">{{'Reset Password' | translate}}</button>
                <button mat-raised-button color="accent" type="button" id="cancel" name="cancel"
                    class="resetbutton mr-3" (click)="cancel()">{{'Cancel' | translate}}</button>

            </div>
        </mat-card-actions>

        <mat-card-actions *ngIf="isInviteUser===true">
            <div class="row mx-0 w-100 justify-content-end">
                <button mat-raised-button color="primary" type="submit" id="btninvite" class="resetbutton"
                    (click)="submit(userForm)" [disabled]="isDisable">{{'Invite User' | translate}}</button>

                <button mat-raised-button color="accent" type="button" id="cancel" name="cancel"
                    class="resetbutton mr-3" (click)="cancel()">{{'Cancel' | translate}}</button>

            </div>
        </mat-card-actions>
        <span *ngIf="isReactivateUser===false  && isInviteUser === false">*{{ 'Note: If you want to update contact
            email, team and roles, you need to save the changes first.' | translate}}</span>
    </mat-card>
</form>