.matNavStyle {
    width: 18%;
    margin: 0;
    background-color: whitesmoke;
    overflow: hidden;
    min-height: 91.5vh;
  }
  
  .list-item {
    color: whitesmoke !important;
    background-color: var(--theme-main-color);
    width: 98%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .list-item:hover {
    color: whitesmoke !important;
    background-color: var(--theme-main-color);
    width: 98%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .active_filter{
    cursor: pointer;
    // background-color: var(--theme-main-color);
    // color: white;
    color: var(--theme-main-color);
    
  }
  
  @media only screen and (max-width: 768px) and (min-height: 1024px) {
    .button-css {
      margin-left: 0px;
    }
  }
  
  .button-css {
    margin-left: 40px;
  }
  .routeIcon {
    font-size: 16px;
    margin-top: 7px;
  }
  .side_menu_md_list {
    height: 40px;
  }
  .routeIcon_text {
    font-size: 14px;
  }
  
  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
    overflow-x: scroll !important;
  }
  .mat-cell {
    word-wrap: initial;
    line-break: unset;
    width: auto;
    overflow: hidden;
    border-left: 0.5px solid rgb(241, 241, 241);
    justify-content: left;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .mat-header-cell {
    word-wrap: initial;
    line-break: unset;
    width: auto;
    /* white-space: nowrap; */
    overflow: hidden;
    text-decoration: black;
    font-size: 14px;
    color: #000;
    background-color: whitesmoke;
    border-left: 0.5px solid rgb(241, 241, 241);
    justify-content: left;
    padding-left: 8px;
  }
  .mat-row {
    min-height: 35px;
  }
  .mat-header-row {
    min-height: 40px;
  }
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    overflow-x: scroll !important;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .mat-column-checkbox {
    width: 2% !important;
    max-width: 2% !important;
  }
  
  .mat-column-username {
    width: 13% !important;
    max-width: 13% !important;
  }
  
  .mat-column-contactEmailId {
    width: 13% !important;
    max-width: 13% !important;
  }
  
  .mat-column-authType {
    width: 9% !important;
    max-width: 9% !important;
  }
  
  
  // .mat-column-roles {
  //   width: 30% !important;
  //   max-width: 30% !important;
  // }
  
  
  
  .mat-column-firstName {
    width: 9% !important;
    max-width: 9% !important;
  }
  
  .mat-column-lastName {
    width: 9% !important;
    max-width: 9% !important;
  }
  
  .mat-column-lastLogin {
    width: 15% !important;
    max-width: 15% !important;
  }
  
  .mat-column-username {
    width: 15% !important;
    max-width: 15% !important;
  }
  
  ::ng-deep .remaining-menu{
    width:200px;
    background-color: whitesmoke;
  }
  
  ::ng-deep .filter-menu {
    width: 300px !important;
    overflow: visible;
    max-height: 400px;
    .ps--active-x > .ps__rail-x {
      display: none;
    }
  }
  @media only screen and (max-width: 1600px) {
  .roles_filter_option {
    padding: 0px 5px;
    border-radius: 5px;
    background-color: #e1e9ff;
    color: #6993ff;
    line-height: 30px;
    font-size: 12px!important;
    margin-top: 3px;
    white-space: normal;
  }
  }
  @media only screen and (min-width: 1601px) {
  .roles_filter_option {
    padding: 0px 5px;
    border-radius: 5px;
    background-color: #e1e9ff;
    color: #6993ff;
    line-height: 30px;
    font-size: 13px!important;
    margin-top: 3px;
    white-space: normal;
  }
  }

  .worklog_date{
      padding:1px 3px;
      background-color: var(--theme-lightmain-color);
      color: var(--theme-main-color);
      // border: 1px solid var(--theme-main-color);
      cursor: pointer;
      border-radius: 3px;
      line-height: 14px;
  }
  .timespent{
      padding:1px 3px;
      background-color: var(--theme-lightmain-color);
      color: var(--theme-main-color);
      // border: 1px solid var(--theme-main-color);
      cursor: pointer;
      border-radius: 3px;
      line-height: 14px;
  }
  .un_inactive{
      padding:1px 2px;
      background-color: var(--theme-accent-color);
      color: white;
      // border: 1px solid var(--theme-accent-color);
      cursor: pointer;
      border-radius: 3px;
      line-height: 9px;
      font-size: 8px;
  }
  .un_active{
      padding:1px 2px;
      background-color: var(--theme-main-color);
      color: white;
      // border: 1px solid var(--theme-main-color);
      cursor: pointer;
      border-radius: 3px;
      line-height: 9px;
      font-size: 8px;
  }
  .un_coloum{
    max-width: 20%!important;
  }
  .wd_coloum{
    max-width: 15%!important;
  }
  .ts_coloum{
    max-width: 14%!important;
  }