.close-icon-css{
  height: 10px;
  margin-top: -30px;
  cursor: pointer;
}

.horizontal-line-css{
  width: 60px;
  margin: 21px 0px 0px 0px;
}

.button-css{
  height: 33px;
  line-height: 30px;
  margin-top: 4px;
}

.text-css{
  margin-top: 10px;
}

.sprint-status-css{
  padding: 0px 5px;
  height: 21px;
  border-radius: 5px;
}
