.chat-history-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  background: #c2c2a3;
}
.circle{
  padding: 4px 6px 4px 7px !important;
  color:white;
}
.message-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin:5px 0;
  padding: 5px;
}
.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
  color: white;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  place-content: center;
  background-color: gray;
}

.margin{
  margin: 2%;
}

.comments-container{
  height: 465px;
  width: 270px;
  overflow-y: auto;
 }

 .sidenav-container{
  min-height: 100%;
  overflow: hidden;
}

mat-sidenav {
  width: 23%;
  height: 100%;
  overflow: hidden;
}

.scrollbar-css::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; 
}
  
  .scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #909499; 
}

.workflow-container{
  overflow-y: auto;
 }

 .mat-drawer-container {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}

.category-button-css {
  height: 40px;
  width: 98%;
  text-align: left;
}

#category-column {
  border-right: 0.5px solid rgb(214, 214, 214);
  font-family: Arial;
}

.label-name-css {
  font-size: 15px;
  font-weight: 600;
  color: grey;
  margin-top: 10px;
}

.navigate-close-css {
  height: 22px;
  width: 26px;
  border-radius: 37%;
  margin: -6px -18px;
  position: absolute;
  cursor: pointer;
  background: #28a745bf;
}

.animate-css {
  font-size: 20px;
  margin-left: 3px;
  animation: spin-animation 1s;
}

.animate-css1 {
  font-size: 20px;
  margin-left: 3px;
  animation: spin-animation 1s;
}

.navigate-open-css {
  height: 22px;
  width: 26px;
  border-radius: 37%;
  margin: -6px -18px;
  position: absolute;
  cursor: pointer;
  background: #28a745bf;
}

@keyframes spin-animation {
  to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.vl {
  border-left: 1px solid grey;
  height: 97%;
  position: absolute;
  left: 25px;
  top: 50px;
  z-index: 0;
}

#task ::ng-deep .mat-dialog-container {
  overflow: hidden !important;
}

// .column-css {
//   border-right: 0.5px solid rgb(202, 202, 202);
// }

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  box-shadow: inset 0 0 5px rgb(254, 255, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid #fff;
}

.page-style {
  height: 100%;
  overflow-y: hidden !important;
}

@media only screen and (max-width:999px){
  .comments-container-css{
      height: 70%;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 5px;
      // background: #f3f3f3;
  }
}

@media only screen and (min-width:1000px){
  .comments-container-css{
      height: 72%;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 5px;
      // background: #f3f3f3;
  }
}

.badge-css {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  line-height: 21px;
  background-color: #f44336;
  color: white;
}

.button-sticky-css{
  position: fixed;
    margin-right: 8px;
    bottom: 5%;
    right: 2%;
    width: 81%;
    height: 50px;
    background-color: #e7e7e7;
}

.z-index-css{
  z-index: 9999;
}

.margin-css{
  margin-bottom: 8px;
  margin-right: 5px;
}
.header-css {
  margin: 10px 10px 20px 10px;
  position: relative;
}

.icon-css {
  margin: 8px 3px;
  position: absolute;
  font-size: 16px;
}

.notification-bar-css {
  height: 60px;
  margin-top: 10px;
  width: 80%;
  align-items: center;
  margin-left: 10%;
  border-left: 3.5px solid;
  background-color: white;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
  color: white;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  place-content: center;
  background-color: gray;
}

.notification_msg {
  width: 80%;
}
.notification_msg_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  font-size: 10px;
  margin-bottom: 5px;
  height: 15px;
  line-height: 15px;
  color: grey;
}
.notification_msg_link {
  cursor: pointer;
  font-size: 11px;
  height: 15px;
  line-height: 15px;
  font-weight: 600;
  color: #4e4e4e;
  &:hover {
      color: var(--theme-main-color);
  }
}

.background-css {
  overflow: hidden;
}

.menu-column-css {
  min-width: 200px;
  max-width: 200px;
  height: 100%;
  border-right: 1px solid #dbdbdb;
}

.inbox-css {
  width: 190px;
  margin-left: 5px;
  background-color: var(--theme-main-color);
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
}

.inbox-icon-css {
  font-size: 17px;
  height: 0px;
  margin-top: 13px;
  margin-left: 5px;
}

.filter-header-css {
  font-size: 12px;
  color: grey;
  font-weight: 600;
  margin: 10px 8px;
}

.filter-button {
  font-size: 12px !important;
  width: 190px;
  margin-left: 5px;
  text-align: left;
}

.active-filter-button {
  background-color: var(--theme-main-color);
  color: white !important;
  font-size: 12px !important;
  width: 190px;
  margin-left: 5px;
  text-align: left;
}

.notification-body {
  width: 100%;
  margin-top: 10px;
}

.inbox-text-css {
  margin-top: 4px;
}

.table-css {
  width: 98%;
  margin-left: 1%;
}

.table-column-css {
  width: 85%;
}

.primary-row-css {
  width: 100%;
  height: 44px;
  border: 1px solid #e1e1e1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 44px;
  padding: 10px;
  background: #f6f8fa;
}

.secondary-row-css {
  width: 100%;
  height: 44px;
  border: 1px solid #e1e1e1;
  border-top: 0px;
  line-height: 44px;
  padding: 5px 0px 0px 10px;
  cursor: pointer;
  &:hover {
      border-left: 2px solid var(--theme-main-color);
      background-color: var(--theme-hover-color) !important;
  }
}

.secondary-checkbox-css {
  height: 0px;
  margin-top: -8px;
}

.assigned-time-css {
  display: flex;
  align-items: center;
  margin-left: 25px;
  line-height: 31px;
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.select-all-css {
  font-size: 11px;
  font-weight: bold;
  line-height: 37px;
}

#notification ::ng-deep .mat-button-toggle-checked {
  background-color: var(--theme-main-color);
  color: white !important;
}

.toggle-group-css {
  height: 30px;
}

.toggle-group-text-css {
  margin-top: -10px;
  color: white !important;
}
.chat-prof-pic{
  height: 20px;
  width: 20px;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bold;
  color: white;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  place-content: center;
  background-color: gray;
}

.mark-read-css {
  font-size: 12px !important;
  height: 40px;
  margin-right: 5.5rem;
  font-weight: bold;
}

.mark-unread-indication-css {
  height: 7px;
  width: 7px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: var(--theme-main-color);
}

.select-all-checkbox-css {
  margin-left: 20px;
  margin-top: 10px;
}
